{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Användare och lösenord matchar inte. Försök igen.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Din användare har inte access till denna sida!</p>
    {% else %}
      <p>Sidan kräver inloggning</p>
    {% endif %}
  {% endif %}
  <h2>Logga in</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="table table-striped table-light c_formtable">
      <tr>
        <th>Användarnamn/mail</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>Lösenord</th>
        <td>{{ form.password }}</td>
      </tr>
      <tr>
        <td colspan=2">
			<input type="submit" value="login" class="btn btn-primary btn-lg btn-block" />
			<input type="hidden" name="next" value="{{ next }}" />
		</td>
      </tr>


    </table>
  </form>

{% endblock %}