{% load static %}
{% load extra_filters %}
{% load inclusion_tags %}

<div class="collapsible-eventtable">
	<div class="full-width">

	{% if event.logo == "" %}
		{% if "Chili" in event.name %}
		<div class="cob_addon">
		<a href="{% url 'event detail' event.id %}">
			<img src="{% static 'gamemanager/images/chili_och_bradspel.png' %}" />
			{{ event.name|remove_cob }}</div>
		</a>
		{% else %}
		<a class="btn btn-primary btn-lg btn-block logo-block" href="{% url 'event detail' event.id %}">
			<div>{{ event.name|break_dash|upper|linebreaksbr }}</div>
		</a>
		{% endif %}
	{% else %}
		<a href="{% url 'event detail' event.id %}">
			<img src="{{ event.logo.url }}" />
		</a>
	{% endif %}
		
	</div>

	<div class="cell f-20">
		<div class="header">Anordnare</div>
		<div class="content">
			{{ event.added_by }}
		</div>
	</div>

	{% if event.status >= 3 %}
	<div class="cell f-20">
		<div class="header">Betyg</div>
		<div class="content">
			{% show_ratings2 event user.player True %}
		</div>
	</div>
	{% endif %}

	<div class="cell f-20">
		<div class="header">Datum</div>
		<div class="content">{{ event.date }}
	{% if event.date_preliminary %}
			(Preliminärt)
	{% endif %}
		</div>
	</div>

	<div class="cell f-20">
		<div class="header">Plats</div>
		<div class="content">
		{% if event.location %}
					{{ event.location }}
		{% endif %}
		{% if event.location_href %}
					<br /><a href="{{ event.location_href }}">Maps-länk</a>
		{% endif %}
		</div>
	</div>

	<div class="cell f-20">
		<div class="header">Eventtyp</div>
		<div class="content">
			{{ event.get_type_display }}
		</div>
	</div>

	<div class="cell f-25">
		<div class="header">Deltagare</div>
		<div class="content">
			<ul class="attend-list">
		{% for player in event.players.all %}
			{% if event.get_type_display == "General" %}
					<li>{{player.user.first_name}} {{player.user.last_name}}</li>
			{% else %}
					<li>{{player}}</li>
			{% endif %}
		{% endfor %}
		{% for player in event.cannot_attend.all %}
			{% if event.get_type_display == "General" %}
					<li class="cannot-attend">{{player.user.first_name}} {{player.user.last_name}}</li>
			{% else %}
					<li class="cannot-attend">{{player}}</li>
			{% endif %}
		{% endfor %}
			</ul>
		</div>
		{% if event.status == 0 %}
			{% if user.player not in event.players.all %}
				<a class="btn btn-block btn-primary btn-lg" href="{% url 'event signup' event.id %}?next={{ request.path }}">Jag vill vara med</a>
			{% endif %}

			{% if user.player not in event.cannot_attend.all %}
				<a class="btn btn-block btn-danger btn-lg" href="{% url 'event signdown' event.id %}?next={{ request.path }}">Kan ej vara med</a>
			{% endif %}
		{% endif %}		
	</div>

	{% if event.type == 0 %}
	<div class="cell f-25">
		<div class="header">Spel</div>
		<div class="content">
			<ul class="game-list">
		{% for game in event.games.all %}
				<li><a href="{% url 'game detail' game.id %}">{{game}}</a></li>
		{% endfor %}
			</ul>
		</div>
		{% if event.get_status_display == "Pending" and user.player in event.players.all %}
				<a class="btn btn-block btn-primary btn-lg" href="{% url 'event gamewish' event.id %}?next={{ request.path }}">Önska spel</a>
		{% endif %}
	</div>
	{% endif %}

	{% if event.type == 2 %}
	<div class="cell f-25">
		<div class="header">Brädspel</div>
		<div class="content">
			<ul class="game-list">
		{% for game in event.boardgames.all %}
				<li><a href="{% url 'boardgame detail' game.id %}">{{game}}</a></li>
		{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}

	{% if event.food.count > 0 %}
	<div class="cell f-25">
		<div class="header">Maträtter</div>
		<div class="content">
			<ul>
				{% for food in event.food.all %}
					<li><a href="{% url 'food detail' food.id %}">{{ food }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}

	<div class="cell f-50">
		<div class="header">Extra information</div>
		<div class="content">
			{{ event.info|markdown|safe }}
		</div>
	</div>

{% if event.type == 0 and event.status >= 3 %}

	<div class="cell f-50">
		<div class="header">Resultat</div>
		<div class="content">
			<ul class="game-placements">
	{% for record in event.scorerecord_event.all %}
				<li>{{ record.player }}<span style="color:#3276B1;font-family:'Red Hat Mono';float:right;">{{ record.score }}</span></li>
	{% endfor %}
			</ul>
		</div>
	</div>

	<div class="cell f-100">
		<div class="header">Placeringar</div>
		<div class="content">

			<div class="mobile-hidden">
	{% for placement in event.placement_event.all %}
				<div style="max-width:100em" class="collapsible-eventtable list">

					<div class="cell f-40">
						<div class="header">Spel</div>
						<div class="content">
							{{ placement.game }}
						</div>
					</div>

					<div class="cell f-10">
						<div class="header">🥇</div>
						<div class="content" style="text-align:left">
							<ul>
		{% for player in placement.firstplace.all %}
								<li>{{ player.gamertag }}</li>
		{% endfor %}
							</ul>
						</div>
					</div>

					<div class="cell f-10">
						<div class="header">🥈</div>
						<div class="content" style="text-align:left">
		{% for player in placement.secondplace.all %}
								<li>{{ player.gamertag }}</li>
		{% endfor %}
						</div>
					</div>

					<div class="cell f-10">
						<div class="header">🥉</div>
						<div class="content" style="text-align:left">
		{% for player in placement.thirdplace.all %}
								<li>{{ player.gamertag }}</li>
		{% endfor %}
						</div>
					</div>

				</div>
	{% endfor %}
			</div>
			
			<div class="placement-flex">
	{% for placement in event.placement_event.all %}
				<div class="desktop-hidden">
					<a href="{% url 'game detail' placement.game.id %}">{{placement.game}}</a>
					<ul>
		{% for player in placement.firstplace.all %}
						<li class="firstplace">{{ player.gamertag }}</li>
		{% endfor %}

		{% for player in placement.secondplace.all %}
						<li class="secondplace">{{ player.gamertag }}</li>
		{% endfor %}

		{% for player in placement.thirdplace.all %}
						<li class="thirdplace">{{ player.gamertag }}</li>
		{% endfor %}
					</ul>			
				</div>
	{% endfor %}
			</div>

		</div>
	</div>
{% endif %}
</div>