{% load extra_filters %}
<div class="rating-container">

<a class="rating-skull
{% if avg_rating == -1 %} 
 filled
{% else %} 
 faded
{% endif %} 

{% if my_rating == -1 %} 
 my_rating
{% endif %} 
" href="
{% if points_only %}
	#
{% else %}
	{% url 'generic rating' model_str object_id -1 %}
{% endif %}

"></a>			

{% for i in 5|times %}
<a class="rating-star
	{% if i <= avg_rating %} 
 filled
	{% else %}
 faded
	{% endif %}	

	{% if i == my_rating %} 
	 my_rating
	{% endif %} 

	" href="
{% if points_only %}
	#
{% else %}
	{% url 'generic rating' model_str object_id i %}
{% endif %}
"></a>
{% endfor %}

{% if not simple %}
	<p>
		Genomsnittligt betyg: {{ avg_rating }}<br />
		Ditt betyg: {{ my_rating }}
	</p>
{% endif %}
</div>
