<div style="flex-basis:100%;text-align:center"><a href="{% url 'moneytransactions list' %}">Kontobalans:</a>{{ account_sum }} kr<br></div>

{{ cal|safe }}


<script>
{% for event in events %}
	$("#calendar_{{ event.date|date:"Y-m-d" }}").html( "<a href='{% url "event detail" event.id %}'>" + $("#calendar_{{ event.date|date:"Y-m-d" }}").text() + "</a>"); 
	$("#calendar_{{ event.date|date:"Y-m-d" }}").addClass( "c_calenderbtn" ); 
	$("#calendar_{{ event.date|date:"Y-m-d" }}").attr( "title", "{{ event.name }}" );
{% endfor %}

var today = new Date();
var today_cal_id = "#calendar_" + today.toISOString().substring(0,10);

$( today_cal_id ).addClass( "current_day" )

</script>
