{% extends "base_generic.html" %}
{% load extra_filters %}
{% load inclusion_tags %}

{% load comments %}

{% block content %}
    <h2>{{ boardgame }}</h2>

<table class="table table-striped table-light c_formtable">
	<tr>
		<td colspan="2"><img class="boxart" src="{{ boardgame.get_photo_url }}" /></td>
	</tr>
	<tr>
		<th>{% field_name boardgame "no_of_players" %}</th>
		<td>{{ boardgame.no_of_players }}</td>
	</tr>
	<tr>
		<th>{% field_name boardgame "youtube" %}</th>
		<td>
	{% if boardgame.youtube %}
			<a href="{{ boardgame.youtube }}">{{ boardgame.youtube }}</a>
  {% else %}
			 - 
	{% endif %}
	</td>
	</tr>
	<tr>
		<th>Betyg</th>
		<td>{% show_ratings2 boardgame user.player %}</td>
	</tr>
	<tr>
		<th>{% field_name boardgame "description" %}</th>
		<td>{{ boardgame.description|linebreaks }}</td>
	</tr>
	<tr>
		<th>{% field_name boardgame "added_by" %}</th>
		<td>{{ boardgame.added_by }}</td>
	</tr>
	<tr>
		<th>{% field_name boardgame "owner" %}</th>
		<td>{{ boardgame.owner }}</td>
	</tr>
	<tr>
		<th>Event</th>
		<td>
		<ul>
		{% for placement in placements %}
			
			<li>{{ placement.event }}</li>
			<ul class="boardgame-placements">
				<li>{{ placement.fp|prettynone }}</li>
				<li>{{ placement.sp|prettynone }}</li>
				<li>{{ placement.tp|prettynone }}</li>
			</ul>			
		{% endfor %}
		</ul>
		</td>
	</tr>
	{% if boardgame.added_by == user.player %}
	<tr>
		<td colspan="2"><a href="{% url 'boardgame update' boardgame.id %}" class="btn btn-primary btn-lg btn-block">Uppdatera spel</a></td>
	</tr>
	{% endif %}
</table>

<h3>Kommentarer</h3>
{% render_comment_list for boardgame %}
{% render_comment_form for boardgame %}

{% endblock %}