{% extends "base_generic.html" %}

{% block content %}

{% if form.instance.pk != None %}
<h2>Uppdatera spel</h2>
{% else %}
<h2>Nytt spel</h2>
{% endif %}

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}

	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-primary btn-lg btn-block" /></td>
	</tr>

{% if form.instance.pk != None %}
	<tr>
		<td colspan="2">
			<a class="btn btn-danger btn-block btn-lg" href="{% url 'boardgame delete' object.id %}">Ta bort</a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="2">
			<a class="btn btn-success btn-block btn-lg" href="{% url 'boardgame import bgg' %}">Importera från BGG</a>
		</td>
	</tr>
{% endif %}

	</table>
</form>

{% endblock %}