{% extends "base_generic.html" %}

{% block content %}

<h2>Importera från Boardgame Geek</h2>

<p>Klistra in adressen till en boargamegeek-sida i rutan för att importera spelinfo därifrån.</p>

<p>Ex: https://boardgamegeek.com/boardgame/2241/sex-maniacs</p>

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}

	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-primary btn-lg btn-block" /></td>
	</tr>

	</table>
</form>

{% endblock %}