{% extends "base_generic.html" %}

{% block content %}
<h2>Ny buggrapport</h2>

<form method="post" action = "">
	{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}
	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-block btn-primary btn-lg" /></td>
	</tr>
	{% if form.instance.pk != None %}
	<tr>
		<td colspan="2">
			<a class="btn btn-danger btn-block btn-lg" href="{% url 'bugreport delete' object.id %}">Ta bort</a>
		</td>
	</tr>
	{% endif %}

	</table>
    
</form>
{% endblock %}