{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
    <h2>Buggar/förslag</h2>
<div class="c_table_container">
	<table class="table table-striped table-light">
		<thead>
		<tr>
			<th>Av</th>
			<th>Bugg/Förslag</th>
			<th>Datum</th>
			<th>Ändra/ta bort</th>
		</tr>
		</thead>
		<tbody>
		{% for bug in object_list %}
		<tr>
			<td>{{ bug.added_by }}</td>
			<td>{{ bug.report|markdown|safe }}</td>
			<td>{{ bug.added_date }}</td>
			<td>
			{% if user == bug.added_by.user or user|is_admin %}
				<a class="btn btn-primary btn-lg" href="{% url 'bugreport update' bug.id %}">Ändra/ta bort</a>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}