{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}

<h2>Uppdateringar</h2>

<p>Intressant läsning för den som är fett intresserad!</p>

<p>Varning för utrikiska.</p>


{% for commit in history %}
<div style="padding: 1em; margin-bottom: 1em;display: flex; align-items: center; flex-wrap: wrap; box-shadow: 0 0 0.6em rgba(0,0,0,0.1)">
	<h3 style="width:10em;font-size: 2em;">{{ commit.date }}</h3>
	<div>
	{{ commit.message|markdown|safe }}
	</div>
</div>
{% endfor %}

{% endblock %}