{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
    <h2>Bekräfta borttagning</h2>

<p>
Är du säker på att du vill ta bort {{ object }}?
</p>

<table class="table table-striped table-light c_formtable">
	<form method="post">{% csrf_token %}
		<tr>
			<td><input class="btn btn-primary btn-block btn-lg" type="submit" value="Japp" /></td>
		</tr>
		<tr>
			<td><a href="#" class="btn btn-danger btn-block btn-lg" type="submit">Nej</a></td>
		</tr>
	</form>
</table>

{% endblock %}