{% extends "base_generic.html" %}
{% load extra_filters %}
{% load comments %}
{% load inclusion_tags %}

{% block content %}

<h2>{{ event }}</h2>

{% render_event_block event %}

<div class="collapsible-eventtable">
	{% if event.added_by == user.player or user|is_admin %}
	<div class="cell">
		<div class="header">Ändra/ta bort</div>
		<div class="content">
			<a class="btn btn-primary btn-lg btn-block" href="{% url 'event update' event.id %}">Ändra event</a>
			<a class="btn btn-danger btn-lg btn-block" href="{% url 'event delete' event.id %}">Ta bort event</a>
		</div>
	</div>
	{% endif %}

	<div class="cell">
		<div class="header">Live-vyer</div>
		<div class="content">
	{% if event.added_by == user.player or user|is_admin %}
			<a target="_blank" class="btn btn-info btn-lg btn-block" href="{% url 'event qr' event.id %}">Visa QR</a>
			<a class="btn btn-primary btn-lg btn-block" href="{% url 'event live admin' event.id %}">Anslut som spelledare</a>
	{% endif %}
			<a class="btn btn-primary btn-lg btn-block" href="{% url 'event live' event.id %}">Anslut till eventet</a>
		</div>
	</div>
</div>



<h3>Kommentarer</h3>
{% render_comment_list for event %}
{% render_comment_form for event %}

{% endblock %}