{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
<h2>Viktighetsranking</h2>

{% if formset.errors %}
<p>Alla spel måste viktas!</p>
{% endif %}
<form method="post">
	{% csrf_token %}
	{{ formset.management_form }}

	<table class="table table-light table-striped c_formtable c_importancetable">
		<tr>
			<th>Spel 1</th>
			<th>Prioritet</th>
			<th>Spel 2</th>
		</tr>
		
		{% for form in formset %}

			{% if form.errors %}
		<tr class="error">
			{% else %}
		<tr>
			{% endif %}

			<td>{{ form.id1.as_hidden }}{{ form.name1.as_hidden }}<a target="_blank" href="{% url 'game detail' form.id1.value %}">{{ form.name1.value }}</a></td>

			{% if form.errors %}
			<td>{{ form.rating }}{{ form.rating.errors }}</td>
			{% else %}
			<td>{{ form.rating }}</td>
			{% endif %}

			<td>{{ form.id2.as_hidden }}{{ form.name2.as_hidden }}<a target="_blank" href="{% url 'game detail' form.id2.value %}">{{ form.name2.value }}</a></td>
		</tr>
		{% endfor %}

		<tr>
			<td colspan="3">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Uppdatera" />
			</td>
		</tr>
	</table>

</form>

<script type="text/javascript">
function isMobile() {
	return window.matchMedia('(max-width: 768px)').matches
}

$( document ).ready(function() {
	if( !isMobile() )
		return
 
	$("table.c_importancetable tbody tr").each(function() {
		game1 = $(this).children("td").first().text()
		game2 = $(this).children("td").last().text()
		select = $(this).find("select")

		if( select.length == 0 )
			return
		
		select.children("option").eq(1).text(game1 + " är viktigare")
		select.children("option").eq(2).text("De är lika viktiga")
		select.children("option").eq(3).text(game2 + " är viktigare")

	});
});

</script>
{% endblock %}