{% block content %}
{% load extra_filters %}


<div class="c_static_content">
{% if event.get_status_display == "Pending" %}
	<p>Eventet har inte startat än!</p>
	<p>Du kan rösta vilket spel du vill ha med så länge!</p>

	<a class="btn btn-block btn-primary btn-lg" href="{% url 'event gamewish' event.id %}?next={% url 'event live' event.id %}">Rösta på spel</a>
{% elif event.get_status_display == "Voting" %}
	<p>Eventet har startat!</p>
	<p>Rösta på spelvikter om du inte redan gjort det.</p>

	<p>Du kan rösta enligt nya eller gamla metoden. Röstningar från nya metoden väljs om båda finns.</p>

	<a class="btn btn-primary btn-lg" href="{% url 'event gameimportance' event.id %}?next={% url 'event live' event.id %}">Gamla röstningen</a>
	<a class="btn btn-info btn-lg" href="{% url 'event gameimportance2' event.id %}?next={% url 'event live' event.id %}">Nya röstningen</a>

{% elif event.get_status_display == "Playing" %}	
	<h3>Spel</h3>
	<div class="c_livegametable">
	{% for game in event.games.all %}
		{% if game.id in finished_games %}
		<div class="item c_finished">{{ game.name }}<br />({{ game.system }})</div>
		{% else %}
		<div class="item">{{ game.name }}<br />{{ game.system }}</div>
		{% endif %}
	{% endfor %}
	</div>
	{% if not event.hidden_score %}
	<h3>Poäng</h3>
	<table class="c_livetable">
		<tr>
			<th>Spelare</th>
			<th>Poäng</th>
		</tr>
		{% for id, score in scores %}
		<tr>
			<th>{{ id_2_player|lookup:id }}</th>
			<td>{{ score|floatformat:0 }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
{% elif event.get_status_display == "Finished" %}
	<div class="c_placeceontainer">
		<div class="c_place c_third">
			<h1>3</h1>
			{% if scores.2.0 > 0 %}
				{% with player=id_2_player|lookup:scores.2.0 %}
				<a class="winner-badge" href="{% url 'player detail' player.id %}">
						<img src="{{ player.get_photo_url }}">
						<p>{{ player.gamertag }}</p>
						<p class="stars">★</p>
				</a>
				{% endwith %}
			{% endif %}
		</div>

		<div class="c_place c_first"><h1>1</h1>
			{% with player=id_2_player|lookup:scores.0.0 %}
				<a class="winner-badge" href="{% url 'player detail' player.id %}">
						<img src="{{ player.get_photo_url }}">
						<p>{{ player.gamertag }}</p>
						<p class="stars">★ ★ ★</p>
				</a>
			{% endwith %}
		</div>

		<div class="c_place c_second">
			<h1>2</h1>
			{% if scores.1.1 > 0 %}
				{% with player=id_2_player|lookup:scores.1.0 %}
				<a class="winner-badge" href="{% url 'player detail' player.id %}">
						<img src="{{ player.get_photo_url }}">
						<p>{{ player.gamertag }}</p>
						<p class="stars">★ ★</p>
				</a>
				{% endwith %}
			{% endif %}
		</div>
	</div>
{% endif %}
</div>

	

{% endblock %}