{% extends "base_generic.html" %}

{% block content %}

<h2>Önska spel för {{ event }}</h2>

<form method="post">
	{% csrf_token %}

	<table class="table table-light table-striped c_formtable c_wishtable">
		<tr>
			<th>Spel</th>
			<th>Prioritet</th>
		</tr>
		{{ formset.management_form }}

		{% for form in formset %}
		<tr>
			{{ form.id.as_hidden }}
			<td><a href="{% url 'game detail' form.id.value %}">{{ form.name.value }}</a></td>
			<td>{{ form.rating }}</td>
		</tr>
		{% endfor %}

		<tr>
			<td colspan="2">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Uppdatera" />
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<a href="{% url 'game add' %}?next={{ request.path }}" class="btn btn-success btn-lg btn-block">Nytt spel</a>
			</td>
		</tr>

	</table>

</form>

{% endblock %}