{% extends "base_generic.html" %}
{% load extra_filters %}
{% load comments %}
{% load inclusion_tags %}

{% block content %}

<h2>Efter-events summering</h2>

<p>Tack för att du var med {{ user.player.gamertag }}!</p>
<p>För att inte vara en leftistsoyboybetacuck gäller dock att du röstar på grejer och skit och skit:</p>
<p><strong>VEM VET - MAN KANSKE FÅR BONUSPOÄNG OM MAN RÖSTAR??</strong><p>

<div class="c_flexcontainer">

	{% if event.scorerecord_event.all|length > 0 %}
	<div class="c_flexitem">
		<h3>Poäng</h3>

		<table class="table table-light table-striped c_formtable">
			<tr>
				<th>Poäng</th><th>Spelare</th>
			</tr>
			{% for record in event.scorerecord_event.all %}
			<tr><th>{{ record.score }}</th>
				<td style="font-weight:normal">
				{% if forloop.counter == 1 %}
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="firstplace">
				{% elif forloop.counter == 2 %}
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="secondplace">
				{% elif forloop.counter == 3 %}
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="thirdplace">
				{% endif %}

				{% if record.player == user.player %}
					<strong>{{ record.player }}</strong>
				{% else %}
					{{ record.player }} 
				{% endif %}
		</span></td>
			</tr>
			{% endfor %}
		</table>
	</div>
  {% endif %}

	{% if event.placement_event.all|length > 0 %}
	<div class="c_flexitem">
		<h3>Spelplaceringar</h3>
			<div class="c_flexcontainer" style="justify-content: space-between;background-color: #fdfdfe; padding:0.5em 1em;box-shadow: var(--shadow)">
		{% for placement in event.placement_event.all %}
				<div style="flex-basis:15em;">
					<strong>{{placement.game}}</strong>
					<ul>
			{% for player in placement.firstplace.all %}
						<li class="firstplace">
				{% if player == user.player %}
							<strong>{{ player.gamertag }}</strong>
				{% else %}
					{{ player.gamertag }}
				{% endif %}
						</li>
			{% endfor %}

			{% for player in placement.secondplace.all %}
						<li class="secondplace">
				{% if player == user.player %}
							<strong>{{ player.gamertag }}</strong>
				{% else %}
					{{ player.gamertag }}
				{% endif %}
						</li>
			{% endfor %}

			{% for player in placement.thirdplace.all %}
						<li class="thirdplace">
				{% if player == user.player %}
							<strong>{{ player.gamertag }}</strong>
				{% else %}
					{{ player.gamertag }}
				{% endif %}
						</li>
			{% endfor %}
					</ul>			
				</div>
		{% endfor %}
			</div>
	</div>
  {% endif %}

	<div class="c_flexitem">
		<h3>Röstningar</h3>

		<table class="table table-light table-striped c_formtable">
			<tr>
				<th>{{ event }}</th><td>{% show_ratings2 event event True %}</td>
			</tr>
		</table>

		{% if event.food.all|length > 0 %}
		<table class="table table-light table-striped c_formtable">
			{% for food in event.food.all %}
			<tr>
				<th>{{ food }}</th><td>{% show_ratings2 food user.player True %}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

		<table class="table table-light table-striped c_formtable">
			{% for game in event.games.all %}
			<tr>
				<th>{{ game }}</th><td>{% show_ratings2 game user.player True %}</td>
			</tr>
			{% endfor %}

			{% for game in event.boardgames.all %}
			<tr>
				<th>{{ game }}</th><td>{% show_ratings2 game user.player True %}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	
	<div class="c_flexitem">
		<h3>Kommentarer</h3>
		{% render_comment_list for event %}
		{% render_comment_form for event %}
	</div>

</div>


{% endblock %}