{% extends "base_generic.html" %}

{% block content %}
    <h2>Poängvikter {{ event }}</h2>

<table class="table table-striped table-light">
	<tr>
		<th>Spel</th>
		<th>Poängvikt</th>
	</tr>
	{% for name, weight in named_weights.items %}
		<tr>
			<td>{{ name }}</td>
			<td style="text-align:center">{{ weight|floatformat:2  }}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}