<table class="table table-light table-striped c_formtable" style="max-width:80em;">
	<tr>
		<th>Från spelare</th>
		<th>Poäng</th>
		<th>Motivering</th>
	</tr>
{% for extrapoint in object_list %}
	<tr>
		<td>{{ extrapoint.from_player }}</td>
		<td>{{ extrapoint.points }}</td>
		<td>{{ extrapoint.description }}</td>
	</tr>
{% endfor %}
</table>
