{% extends "base_generic.html" %}

{% load extra_filters %}
{% load inclusion_tags %}

{% block content %}
{% if dynamic_header %}
	<h2>{{ dynamic_header }}</h2>
{% else %}
	<h2>Event</h2>
{% endif %}

{% for event in object_list %}
<br>
	{% render_event_block event %}
{% endfor %}


{% endblock %}
