{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}

{% if form.instance.pk != None %}
<h2>Uppdatera event</h2>
{% else %}
<h2>Nytt event</h2>
{% endif %}

<form enctype="multipart/form-data" method="POST">{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}
	<tr>
		<td colspan="2">
			<input type="submit" name="main_submit" value="Uppdatera" class="btn btn-primary btn-lg btn-block p-4 mt-4">
		</td>
	</tr>
{% if form.instance.pk != None %}
	<tr>
		<td colspan="2">
			<a class="btn btn-danger btn-block btn-lg" href="{% url 'event delete' object.id %}">Ta bort</a>
		</td>
	</tr>
{% endif %}
	</table>
    
</form>

<script>
	var scores = {

		{% for k, v in score_list.items %}
			{{ k }}: {{ v }},
		{% endfor %}

		}

	var hidefields = { 
		"general": 
				[
				"games", 
				"hidden_score",
				"logo",
				"wallpaper",
				"score",
				"thirdplace_factor",
				"secondplace_factor",
				"firstplace_factor",
				"status",
				"boardgames"
				],
		"game tournament":
				[
				"boardgames",
				"food"
				],
		"board games":
				[
				"games", 
				"hidden_score",
				"logo",
				"wallpaper",
				"score",
				"thirdplace_factor",
				"secondplace_factor",
				"firstplace_factor",
				"status"
				]}

	function hide_unnecessary() {
		var selected_type = $( "select[name='type']" ).find( ":selected" ).text().toLowerCase();
		$( "tr" ).find( "td, th" ).show();

		for (var i = 0; i < hidefields[selected_type].length; i++) {
			var name = hidefields[selected_type][i]
			$( "*[name=" + name + "]" ).parents( "tr" ).find( "td, th" ).hide()
		}
	}

	

	$( "ul#id_games input[type=checkbox]" ).each( function() {
		var score = parseFloat( scores[$( this ).attr( "value" )] )

		if( isNaN(score) ) {
			score = "-"
		}

		$( this ).parent().append( "<span style='margin-left:2.4em;color:#3276B1'>Önskat: " + score + "</span>");
	});

	$( "select[name=type]" ).change( function() { hide_unnecessary() })

	$( "#id_date" ).datetimepicker({"dateFormat": "yy-mm-dd"})
	
	hide_unnecessary();

</script>


{% endblock %}