{% extends "base_generic.html" %}
{% load extra_filters %}
{% load static %}

{% block content %}
<h2>Live admin {{ event }}</h2>

<div>

	<div id="tabs" style="margin-bottom:2em"></div>

	<div class="c_flexitem live-admin-tab">

		<h3>Eventstatus</h3>
<table class="table table-striped table-light">
{% for id, val in statuses %}
	{% if id >= 0 and id <= 3 %}
	<tr>
		<td>
			<a style="max-width:71em" class=

			{% if id == 0 %}
				"btn btn-primary btn-lg btn-block"
			{% elif id == 1 %}
				"btn btn-warning btn-lg btn-block"
			{% elif id == 2 %}
				"btn btn-info btn-lg btn-block"
			{% elif id == 3 %}
				"btn btn-success btn-lg btn-block"
			{% endif %}
	
 href="{% url 'event update status' event.id id %}">

			{% if event.status == id %} ✓{% endif %} {{ val }}
			</a>
		</td>
		<td>
		{% if id == 0 %}
			Eventet har skapats men inte startat.
		{% elif id == 1 %}
			Användare skall rösta fram spelvikter.
		{% elif id == 2 %}
			Turneringen körs.
		{% elif id == 3 %}
			Alla spel är färdiga och poängen skall sparas.
		{% endif %}
		</td>
	</tr> 
	{% endif %}
{% endfor %}		
</table>

	</div>
	<div class="c_flexitem live-admin-tab">

		<h3>Poängvikter</h3>
		<table class="table table-striped table-light c_model_table">
			<tr>
				<th>Spel</th>
				<th>Poängvikt</th>
			</tr>
			{% for id, weight in weights.items %}
				<tr>
					<td>{{ id_2_game|lookup:id }}</td>
					<td style="text-align:center">{{ weight|floatformat:2  }}</td>
				</tr>
			{% endfor %}
		</table>

		<h3>Viktvalidering</h3>
		<p>För att poängvikterna ska bli rätt är det viktigt att inga spelare står under "röstat några".</p>
		<p>Nya röstningar prioriteras över gamla.</p>

		<table class="table table-striped table-light c_model_table">
			<tr>
				<th>Spelare</th>
				<th>Status gamla röstnigen</th>
				<th>Status nya röstningen</th>
				<th>OK/NOK</th>
			</tr>
		{% for player, status in weight_validation.items %}
			<tr>
				<td>{{ player }}</td>
				<td>
					{% if status.old|length == 0 %}
						<a class="btn btn-success btn-sm" href=#">Röstat alla</a>
						<a class="btn btn-danger btn-sm" href="{% url 'event gameimportance delete' event.id player.id %}">🗙</a>
					{% elif status.old|length == correct_tuples_count %}
						<a class="btn btn-warning btn-sm" href=#">Röstat inga</a>
					{% else %}
						<a class="btn btn-danger btn-sm" href=#">Röstat några</a>
						<a class="btn btn-danger btn-sm" href="{% url 'event gameimportance delete' event.id player.id %}">🗙</a>
						<br><strong>Saknas</strong>
						<ul>
						{% for game1, game2 in status.old %}
							<li>{{ id_2_game|lookup:game1 }} vs {{ id_2_game|lookup:game2 }}</li>
						{% endfor %}
						</ul>
					{% endif %}
				</td>
				<td>
					{% if status.new|length == 0 %}
						<a class="btn btn-success btn-sm" href=#">Röstat alla</a>
						<a class="btn btn-danger btn-sm" href="{% url 'event gameimportance2 delete' event.id player.id %}">🗙</a>
					{% elif status.new|length == event.games.count %}
						<a class="btn btn-warning btn-sm" href=#">Röstat inga</a>
					{% else %}
						<a class="btn btn-danger btn-sm" href=#">Röstat några</a>
						<a class="btn btn-danger btn-sm" href="{% url 'event gameimportance2 delete' event.id player.id %}">🗙</a>
						<br><strong>Saknas</strong>
						<ul>
						{% for game in status.new %}
							<li>{{ id_2_game|lookup:game }}</li>
						{% endfor %}
						</ul>
					{% endif %}
				</td>
				<td>{% if status.new|length == event.games.count %}
							{% if status.old|length > 0 and status.old|length < correct_tuples_count %}
								<a class="btn btn-danger btn-sm" href=#">NOK</a>
							{% else %}
								<a class="btn btn-success btn-sm" href=#">OK</a>
							{% endif %}
						{% elif status.new|length == 0 %}
								<a class="btn btn-success btn-sm" href=#">OK</a>
						{% else %}
							<a class="btn btn-danger btn-sm" href=#">NOK</a>
						{% endif %}
				</td>
			</tr>
			
		{% endfor %}
		</table>

		<h3>Byt ut spel</h3>
		<p>Använd knapparna nedan för att byta ut ett spel och inte fucka upp spelvikter.</p>
		<form method="post">
			{% csrf_token %}

			<table class="table table-light table-striped c_formtable" style="max-width:80em;">
				<tr>
					<th>Byt ut</th>
					<th>Till</th>
				</tr>

				<tr>
					<td>{{ swap_form.event_id }}{{ swap_form.fromgame }}</td>
					<td>{{ swap_form.togame }}{{ form.description }}{{ form.errors }}</td>
				</tr>

				<tr>
					<td colspan="2">
						<input class="btn btn-primary btn-lg btn-block" name="swapgame_submit" type="submit" value="Uppdatera" />
					</td>
				</tr>
			</table>

		</form>
	</div>

	<div class="c_flexitem live-admin-tab">
		<h3>Vinnare</h3>
		<form method="post">
			{% csrf_token %}

			<table class="table table-light table-striped c_formtable" style="max-width:80em;">
				<tr>
					<th>Spel</th>
					<th>Tredjeplats</th>
					<th>Andraplats</th>
					<th>Förstaplats</th>
				</tr>
				{{ formset_placements.management_form }}

				{% for form in formset_placements %}
				<tr>
					<th>{{ form.id }}{{ form.game.as_hidden }}{{ id_2_game|lookup:form.game.value }}</th>
					{{ form.event.as_hidden }}
					<td>{{ form.thirdplace }}</td>
					<td>{{ form.secondplace }}</td>
					<td>{{ form.firstplace }}</td>
				</tr>
				{% endfor %}

				<tr>
					<td colspan="4">
						<input class="btn btn-primary btn-lg btn-block" name="placement_submit" type="submit" value="Uppdatera" />
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<a href="{% url 'event delete placements' event.id %}" class="btn btn-danger btn-lg btn-block">Rensa placeringar<a/>
					</td>
				</tr>
			</table>

		</form>
	</div>

	<div class="c_flexitem live-admin-tab">
		<h3>Poäng</h3>

		<table class="table table-light table-striped c_formtable">
			<tr>
				<th>Spelare</th>
				<th>Poäng</th>
			</tr>

				{% for id, score in playerscore %}
				<tr>
					<th>{{ id_2_player|lookup:id }}</th>
					<td>{{ score|floatformat:0 }}</td>
				</tr>
				{% endfor %}

				<tr>
					<td colspan="2">
						<a class="btn btn-lg btn-primary btn-block" href="{% url 'event insert-score' event.id %}">
							Spara poäng
						</a>
					</td>
				</tr>

		</table>

	</div>

	<div class="c_flexitem live-admin-tab">
		<h3>Turningsbracket</h3>
		<p>Mata in lagen som ska vara med, dela upp med radbrytning</p>

		<div id="matchdata-container" style="max-width:80em;"></div>

		<table class="table table-light table-striped c_formtable">
			<tr>
				<th><label for="bracket_teams_input">Lag</label></th>
				<td><textarea rows="10" id="bracket_teams_input"></textarea>
			</tr>
			<tr>
				<th><label for="deseselector">Double/Single eliminiation</label></th>
				<td>
					<select id="deseselector">
						<option>Double</option>
						<option>Single</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><input id="bracket_create_btn" type="submit" value="Skapa turnering" class="btn btn-primary btn-lg btn-block" /></td>
			</tr>
		</table>
	</div>

	<div class="c_flexitem live-admin-tab">
		<h3>Extrapoäng</h3>
		<form method="post">
			{% csrf_token %}

			<table class="table table-light table-striped c_formtable" style="max-width:80em;">
				<tr>
					<th>Från spelare</th>
					<th>Till spelare</th>
					<th>Poäng</th>
					<th>Motivering</th>
				</tr>
				{{ formset_extrapoints.management_form }}

				{% for form in formset_extrapoints %}
				<tr>
					{{ form.id }}
					<td>{{ form.from_player }}</td>
					<td>{{ form.player }}</td>
					<td>{{ form.points }}</td>
					<td>{{ form.description }}{{ form.errors }}</td>
				</tr>
				{% endfor %}

				<tr>
					<td colspan="4">
						<input class="btn btn-primary btn-lg btn-block" name="extrapoint_submit" type="submit" value="Uppdatera" />
					</td>
				</tr>
			</table>

		</form>
	</div>
</div>

<script type="text/javascript">
	// ===========
	// TAB SCRIPTS
	// ===========

	// Collapses divs based on the first h3 header and adds tabs to the top.
  // Uses local storage to keep track of active tab (it was easiest).

	var startTab = "Ändra eventstatus";
  var tab_lskey = "live_admin_tab_no-{{ event.id }}"

	// Takes a tab name as argument, shows that content and hides the rest.
	function showOnlyTab(tabtext) {
		$('.live-admin-tab').each(function() {
			var title = $(this).children("h3").first().text();
			var currentTabBtn = $('.tab-btn[data-title="' + title + '"]');

			if( title == tabtext ) {
				$(this).show();
				currentTabBtn.addClass("disabled");
			} else {
				$(this).hide();
				currentTabBtn.removeClass("disabled");
			}
		});
	}

	// Attaches onclick event handlers to tab buttons.
  // The handler switches and saves the value to local storage in order
  // to keep the tab active after refresh (submits).
	$('#tabs').on('click', '.tab-btn', function() {
		var text = $(this).text()
		showOnlyTab(text);
		localStorage.setItem(tab_lskey, text);
	});

	// Parse the content and create the tabs.
	$('.live-admin-tab').each(function() {
		var title = $(this).children("h3").first().text();

		$('#tabs').append('<a href="#" class="btn btn-primary btn-lg tab-btn" data-title="' + title + '">' + title + '</a>');
	});

	// Get the saved tab (if there is any).
	startTab = localStorage.getItem(tab_lskey);
	// Show the tab.
	showOnlyTab(startTab);
</script>

<script type="text/javascript">
// ==================
// TOURNAMENT SCRIPTS
// ==================
var baseUrl = window.location.origin;

{% if event.bracket_data %}
	try {
		var savedMatchData = JSON.parse("{{ event.bracket_data|escapejs }}");
	} catch (e) {
		var savedMatchData = null;
	} 
{% else %}
		var savedMatchData = null;
{% endif %}

$.ajaxSetup({ 
	 beforeSend: function(xhr, settings) {
		 function getCookie(name) {
			 var cookieValue = null;
			 if (document.cookie && document.cookie != '') {
				 var cookies = document.cookie.split(';');
				 for (var i = 0; i < cookies.length; i++) {
					 var cookie = jQuery.trim(cookies[i]);
					 // Does this cookie string begin with the name we want?
					 if (cookie.substring(0, name.length + 1) == (name + '=')) {
						 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						 break;
					 }
				 }
			 }
			 return cookieValue;
		 }
		 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			 // Only send the token to relative URLs i.e. locally.
			 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		 }
	 } 
});

function saveFn(data, userData) {
	var json = JSON.stringify(data)

	jQuery.ajax({
		contentType: 'application/json',
		url: baseUrl + "{% url 'event live set brackets' event.id %}", 
		dataType: 'json',
		type: "POST",
		data: json
	});

}

function waitForElm(selector) {
	return new Promise(resolve => {
		if (document.querySelector(selector)) {
			return resolve(document.querySelector(selector));
		}

		const observer = new MutationObserver(mutations => {
			if (document.querySelector(selector)) {
				resolve(document.querySelector(selector));
				observer.disconnect();
			}
		});

		observer.observe(document.body, {
			childList: true,
			subtree: true
		});
	});
}

function parseTeamsStr(inputStr) {
		var lines = [];
		// Split lines and skip empty rows.
		$.each(inputStr.split(/\n/), function(i, line){
				if(line){
					lines.push(line);
				} 
		});

		return lines
}

function createMatchData(teamPairs, useDE="double") {
	var matchData = {};

	if( useDE == "double" ) {
		// Minimal data for double elimination
		matchData.results = [[[[]]], [], []];
	} else {
		// Minimal data for single elimination
		matchData.results = [];
	}

	matchData.teams = teamPairs;

	return matchData
}

function shuffle(array) {
	let currentIndex = array.length,  randomIndex;

	// While there remain elements to shuffle.
	while (currentIndex != 0) {

		// Pick a remaining element.
		randomIndex = Math.floor(Math.random() * currentIndex);
		currentIndex--;

		// And swap it with the current element.
		[array[currentIndex], array[randomIndex]] = [
			array[randomIndex], array[currentIndex]];
	}

	return array;
}

function createRandomizedTeamPairs(teams) {

	var shuffled_teams = shuffle(teams);
	var n = shuffled_teams.length
	var m = 0;
	var teamPairs = []
	var rest

	// Find the smallest value where 2^n > number of teams
	for(var i=1; i<n; i*=2) {
		m = i*2
	}

	rest = n-(m/2)

	// Fill the first half of the pairs:
	// team1 - null
	// team3 - null
	// team5 - null
  // team7 - null
	for(var i=0; i<m/2; i++) {
		teamPairs.push([shuffled_teams[i], null])
	}

	// Fill the second half of the pairs:
	// team1 - team2 <--
	// team3 - team4 <--
	// team5 - null
  // team7 - null
	for(var i=0; i<rest;i++) {
		teamPairs[i][1] = shuffled_teams[m/2 + i]
	}

	return teamPairs
}

function resizeBracketContainer() {
		bracketsHeight = $('#matchdata-container .bracket').height();
		losersBracketHeight = $('#matchdata-container .loserBracket').height();

		if(losersBracketHeight === undefined)
			losersBracketHeight = 0

		$('#matchdata-container').height(bracketsHeight + losersBracketHeight);
}

function startBracket(matchData) {
	$(function() {
		$('#matchdata-container').bracket({
			teamWidth: 120,
			scoreWidth: 20,
			matchMargin: 10,
			roundMargin: 50,
			init: matchData,
			disableToolbar: true,
			save: saveFn,
			userData: ""
		});
	});
}

function continousResize() {
	resizeBracketContainer()
	setTimeout(continousResize, 1000)	
}

$('#bracket_create_btn').click(function() {
	var teamsInputStr = $('#bracket_teams_input').val();
	var teamsList = parseTeamsStr(teamsInputStr);
	var teamPairs = createRandomizedTeamPairs(teamsList);
	var dese = $('#deseselector').val().toLowerCase();
	var matchData = createMatchData(teamPairs, dese);
	var bracketsHeight = 0;

	startBracket(matchData);
	saveFn(matchData,"");
	resizeBracketContainer()
});

if( savedMatchData != null ) {
	startBracket(savedMatchData)
}

$(document).ready(function() {
	//alert("jaja")
	resizeBracketContainer()
});
			 // == 30 seconds polling period

</script>

{% endblock %}