{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
<h2>Viktighetsranking</h2>

{% if formset.errors %}
<p>Alla spel måste viktas!</p>
{% endif %}
<form method="post">
	{% csrf_token %}
	{{ formset.management_form }}

	<table class="table table-light table-striped c_formtable c_importancetable">
		<tr>
			<th>Spel</th>
			<th>Prioritet</th>
		</tr>
		
		{% for form in formset %}

			{% if form.errors %}
		<tr class="error">
			{% else %}
		<tr>
			{% endif %}

			<td>{{ form.id.as_hidden }}<a target="_blank" href="{% url 'game detail' 0 %}">{{ form.name.value }}</a></td>
			<td>{{ form.score }}</td>

		</tr>
		{% endfor %}

		<tr>
			<td colspan="3">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Uppdatera" />
			</td>
		</tr>
	</table>

</form>
{% endblock %}