{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.8">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;100;300&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/layout.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/components.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'gamemanager/css/jquery.bracket.min.css' %}">

		<style>

{% if event.wallpaper %}
html {
	height: 100%;
	background-image: url( {{ event.wallpaper.url }} );
	background-repeat: repeat-y;
	background-position: center 0;
	background-size: 100%;
	background-attachment: fixed;
	padding: 0 1em;
}
{% endif %}

.c_poll_container {
	background-color: rgba( 255,255,255,1 );
	border-radius: 1em;
	padding: 2em 0.5em 6em;
	margin-bottom: 1em;
}

.c_live_main {
	background: None; 
	margin: 1em auto; 
	width: 100%;
	max-width: 70em;
}

.c_tab {
	padding: 1em;
}

#tabs a.btn{

}

#tabs a.btn.disabled{
	opacity:100;
	background-color:white;
	text-decoration:underline;
	color: #428bca;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;

}

#tabs{
	padding-left:2em;
	margin-bottom: -1px
}
		</style>

		<script src="{% static 'gamemanager/js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'gamemanager/js/jquery.fireworks.js' %}"></script>
		<script src="{% static 'gamemanager/js/jquery.bracket.min.js' %}"></script>

	</head>
	<body>
		<main class="c_live_main">
			<div class="c_static_content">
				<h1 style="margin: 0;font-size: 4em; display:block; text-align:center;color:white;">{{ event }}</h1>
			</div>

			<div id="tabs"></div>

			<div id="ExtraPoints" data-tab="Extrapoäng" class="c_poll_container c_tab">
				<h2>Extrapoäng</h2>

				<p>Du kan ge totalt 10000 poäng till dina vänner. Det går att dela upp och att även ge minuspoäng!</p>
				<p>Kom dock ihåg att med stora kraftiga armar kommer stor responsivitet!</p>

				<div id="ajax_content2"></div>

					<table class="table table-light table-striped c_formtable" style="max-width:80em;">
						<tr>
							<th>Till spelare</th>
							<th>Poäng</th>
							<th>Motivering</th>
							<th>Ta bort</th>
						</tr>

						{% for my_point in my_points %}
						<tr>
							<td>{{ my_point.player }}</td>
							<td>{{ my_point.points }}</td>
							<td>{{ my_point.description }}</td>
							<td><a class="btn btn-danger btn-lg" href="{% url 'extrapoints delete' my_point.id %}">🗙</a></td>
						</tr>
						{% endfor %}
					</table>

				<form method="post" action="." enctype="multipart/form-data">
					{% csrf_token %}
					<table class="table table-light table-striped c_formtable" style="max-width:80em;">
						<tr>
							<td>{{ form.player }}</td><td>{{ form.points }}{{ form.points.errors }}</td><td>{{ form.description }}</td>
						</tr>
						<tr>
							<td colspan="4">
								<input class="btn btn-primary btn-lg btn-block" type="submit" value="Uppdatera" />
							</td>
						</tr>
					</table>
				</form>
			</div>

			<div class="c_poll_container  c_tab" data-tab="Turneringsdata" id="TournamentInfo">

{% if messages %}
	{% for message in messages %}
		{% if message %}
				<div style="font-size:1em" class="btn btn-primary btn-block">{{ message }}</div>
		{% endif %}
	{% endfor %}
{% endif %}

				<div id="ajax_content"></div>
			</div>

			<div class="c_poll_container c_tab" id="Brackets" data-tab="Brackets">
				<h2>Brackets</h2>

				<div id="matchdata-container"></div>
			</div>

			<div class="demo"></div>
		</main>

		<script type="text/javascript">
	// ===========
	// TAB SCRIPTS
	// ===========

	// Collapses divs based on the first h3 header and adds tabs to the top.
  // Uses local storage to keep track of active tab (it was easiest).

	var startTab = "Turneringsdata";
  var tab_lskey = "live_tab_no-{{ event.id }}"

	// Takes a tab name as argument, shows that content and hides the rest.
	function showOnlyTab(tabtext) {
		$('.c_tab').each(function() {
			var title = $(this).data("tab")
			var currentTabBtn = $('.tab-btn[data-title="' + title + '"]');

			if( title == tabtext ) {
				$(this).show();
				currentTabBtn.addClass("disabled");
			} else {
				$(this).hide();
				currentTabBtn.removeClass("disabled");
			}
		});
	}

	// Attaches onclick event handlers to tab buttons.
  // The handler switches and saves the value to local storage in order
  // to keep the tab active after refresh (submits).
	$('#tabs').on('click', '.tab-btn', function() {
		var text = $(this).text()
		showOnlyTab(text);
		localStorage.setItem(tab_lskey, text);

	});

	// Parse the content and create the tabs.
	$('.c_poll_container').each(function() {
		var title = $(this).data("tab")
		$('#tabs').append('<a href="#" class="btn btn-primary btn-lg tab-btn" data-title="' + title + '">' + title + '</a>');
	});

	// Get the saved tab (if there is any).
	startTab = localStorage.getItem(tab_lskey);

	if(!startTab)
		startTab = "Turneringsdata"
	// Show the tab.
	showOnlyTab(startTab);
		</script>
		<script>
	// ============
	// POLL SCRIPTS
	// ============

var getUrl = window.location;
var baseUrl = window.location.origin;

checker = setInterval(function() {
	if( $(".c_placeceontainer").length == 1 ) {
		$('.demo').fireworks({
			sound: false, // sound effect
			opacity: 0.3,
			width: '50em',
			height: '50em'
		});

		$( "#fireworksField" ).click( function() {
			$( this ).remove();
		});

		clearInterval( checker );
	}
}, 1000); // Trigger every 5000ms / 5seconds.

function waitForElm(selector) {
	return new Promise(resolve => {
		if (document.querySelector(selector)) {
			return resolve(document.querySelector(selector));
		}

		const observer = new MutationObserver(mutations => {
			if (document.querySelector(selector)) {
				resolve(document.querySelector(selector));
				observer.disconnect();
			}
		});

		observer.observe(document.body, {
			childList: true,
			subtree: true
		});
	});
}

function poll1() {
	$.get({
		url: baseUrl + "{{ content_address }}",
		success: function (data) {
			$( "#ajax_content" ).html( data );
		},
		timeout: 10000										// == 10 seconds timeout
	}).always(function () {
		setTimeout(poll1, 5000)					 // == 30 seconds polling period
	})
}

function poll2() {
	$.get({
		url: baseUrl + "{{ content_address2 }}",
		success: function (data) {
			$( "#ajax_content2" ).html( data );
		},
		timeout: 10000										// == 10 seconds timeout
	}).always(function () {
		setTimeout(poll2, 5000)					 // == 30 seconds polling period
	})
}

function poll3() {
	var requestUrl = baseUrl + "{% url 'event live get brackets' event.id %}"
	$.get({
		url: requestUrl,
		success: function(data) {
			matchData = data;

			$('#matchdata-container').bracket({
				init: matchData,
				userData: ""
			});

			updateBracketSize()
		},
		timeout: 10000										// == 10 seconds timeout
	}).always(function () {
		setTimeout(poll3, 5000)					 // == 30 seconds polling period
	})
}

function resizeBracketContainer() {
		bracketsHeight = $('#matchdata-container .bracket').height();
		losersBracketHeight = $('#matchdata-container .loserBracket').height();

		if(losersBracketHeight === undefined)
			losersBracketHeight = 0

		$('#matchdata-container').height(bracketsHeight + losersBracketHeight);

		setTimeout(resizeBracketContainer, 100)
}

$(document).ready(function() {
	resizeBracketContainer()

	poll1();
	poll2();
	poll3();
});

		</script>
	</body>
</html>


{% endblock %}