{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.8">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;100;300&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/layout.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/components.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/style.css' %}" />

		<style>

	{% if event.wallpaper %}
	html {
		height: 100%;
		background-image: url( {{ event.wallpaper.url }} );
		background-repeat: repeat-y;
		background-position: center 0;
		background-size: 100%;
		background-attachment: fixed;
		padding: 0;
	}
	{% endif %}

	img.qr {
		display:block;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(30%);
	}

	.c_poll_container {
		background-color: rgba( 255,255,255,0.9 );
		border-radius: 1em;
		padding: 2em 0.5em 6em;
		margin-bottom: 1em;
	}

	.c_live_main {
		background: None; 
		margin: 1em auto; 
		width: 100%;
		max-width: 70em;
	}

	.c_tab {
		padding: 1em;
	}

	#qrcode img{
		padding: 3em;
		background-color: rgba(255,255,255,1);
	}

	#qrcode img{
		display:block;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(30%);
	}

		</style>
	</head>
	<body>

		<div id="qrcode"></div>
		<script src="{% static 'gamemanager/js/qrcodejs.js' %}"></script>
		<script>
var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: "{{ qr_href }}",
	width: 256,
	height: 256,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
});
		</script>
	</body>
</html>
{% endblock %}