{% extends "base_generic.html" %}

{% load extra_filters %}
{% load inclusion_tags %}

{% block content %}
<h2>Maträtter</h2>

<div class="collapsible-eventtable-container">
{% for obj in object_list %}
	<div style="max-width:100em" class="collapsible-eventtable list">
		<div class="cell f-20">
			<div class="header">Maträtt</div>
			<div class="content">
			<a href="{% url 'food detail' obj.id %}">{{ obj.name }}</a>
			</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Betyg</div>
			<div class="content">{% show_ratings2 obj user.player True %}</div>
		</div>	

		<div class="cell f-20">
			<div class="header">Tillagt av</div>
			<div class="content">{{ obj.added_by }}</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Ändra</div>
			<div class="content" style="align-items: center;flex-direction: row; text-align: right">
			{% ifequal user.player obj.added_by %}
				<a class="btn btn-primary btn-lg" href="{% url 'food update' obj.id %}">✎</a>
				<a class="btn btn-danger btn-lg" href="{% url 'food delete' obj.id %}">🗙</a>
			{% endifequal %}
			</div>
		</div>	
	</div>
{% endfor %}
</div>

{% endblock %}