{% extends "base_generic.html" %}
{% load extra_filters %}

{% load comments %}
{% load inclusion_tags %}

{% block content %}
    <h2>{{ food }}</h2>

<table class="table table-striped table-light c_formtable">
	<tr>
		<td colspan="2"><img class="boxart" src="{{ food.get_photo_url }}" /></td>
	</tr>
	<tr>
		<th>Betyg</th>
		<td>{% show_ratings2 food user.player %}</td>
	</tr>
	<tr>
		<th>{% field_name food "recipe_link" %}</th>
		<td>
			<a href="{{ food.recipe_link }}">Länk</a>
		</td>
	</tr>
	<tr>
		<th>{% field_name food "description" %}</th>
		<td>{{ food.description }}</td>
	</tr>
	<tr>
		<th>{% field_name food "added_by" %}</th>
		<td>{{ food.added_by }}</td>
	</tr>
	{% if food.added_by == user.player %}
	<tr>
		<td colspan="2"><a href="{% url 'food update' food.id %}" class="btn btn-primary btn-lg btn-block">Uppdatera maträtt</a></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'food delete' food.id %}" class="btn btn-danger btn-lg btn-block">Ta bort maträtt</a></td>
	</tr>
	{% endif %}
</table>

<h3>Kommentarer</h3>
{% render_comment_list for food %}
{% render_comment_form for food %}

{% endblock %}