{% extends "base_generic.html" %}
{% load extra_filters %}
{% load inclusion_tags %}

{% block content %}
    <h2>Spel</h2>

{% for system, games in object_list.items %}
<div class="collapsible-eventtable-container">
	<h3>{{ system }}</h3>
	{% for game in games %}
	<div style="max-width:100em" class="collapsible-eventtable list">
		<div class="cell f-20">
			<div class="header">Spel</div>
			<div class="content">
		{% if game.boxart %}
				<a href="{% url 'game detail' game.id %}">
					<img class="boxart_thumb" src="{{ game.get_photo_url }}" />
				</a>
		{% endif %}
			<a style="display:block" href="{% url 'game detail' game.id %}">{{ game.name }}</a>				
			</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Betyg</div>
			<div class="content">{% show_ratings2 game user.player True %}</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Spelare</div>
			<div class="content">{{ game.no_of_players }}</div>
		</div>	

		<div class="cell f-20">
			<div class="header">Tillagt av</div>
			<div class="content">{{ game.added_by.gamertag }}</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Ändra</div>
			<div class="content" style="align-items: center;flex-direction: row; text-align: right">
			{% ifequal user game.added_by.user %}
				<a class="btn btn-primary btn-lg" href="{% url 'game update' game.id %}">✎</a>
				<a class="btn btn-danger btn-lg" href="{% url 'game delete' game.id %}">🗙</a>
			{% endifequal %}
			</div>
		</div>	
	</div>
	{% endfor %}
</div>
{% endfor %}

<script>
	$( ".collapsible-eventtable .ratings" ).each( function() {
		let ratingText = $( this ).text();
		
		if( ratingText == "" )
			return

		let newDiv = document.createElement( "div" );
		let newClass = "";
		let roundedRating = Math.round( parseInt( ratingText ) );

		$( this ).text( "" );
		$( this ).append( $( newDiv ).addClass( "rating-container" ) )
		
		for( let i=-1;i<=5;i++ ) {
			let newspan = document.createElement( "span" );
			let fillClass = ""

			if( i == -1 ) {
				newClass = "rating-skull"
			} else if( i == 0 ) {
				continue
			} else {
				newClass = "rating-star"
			}

			if( i <= roundedRating && i > 0 ) {
				fillClass = "filled"
			} else if( i < 0 && roundedRating < 0 ) {
				fillClass = "filled"
			} else {
				fillClass = "faded"
			}

			$( newDiv ).append( $( newspan ).addClass( newClass ).addClass( fillClass ) );
		}
	});
</script>

{% endblock %}