{% extends "base_generic.html" %}
{% load extra_filters %}

{% load comments %}
{% load inclusion_tags %}

{% block content %}
    <h2>{{ game }}</h2>

<table class="table table-striped table-light c_formtable">
	<tr>
		<td colspan="2"><img class="boxart" src="{{ game.get_photo_url }}" /></td>
	</tr>
	<tr>
		<th>{% field_name game "system" %}</th>
		<td>{{ game.system }}</td>
	</tr>
	<tr>
		<th>{% field_name game "no_of_players" %}</th>
		<td>{{ game.no_of_players }}</td>
	</tr>
	<tr>
		<th>Betyg</th>
		<td>{% show_ratings2 game user.player True %}</td>
	</tr>
	<tr>
		<th>{% field_name game "youtube" %}</th>
		<td>
	{% if game.youtube %}
			<a href="{{ game.youtube }}">{{ game.youtube }}</a>
  {% else %}
			 - 
	{% endif %}
	</td>
	</tr>
	<tr>
		<th>{% field_name game "description" %}</th>
		<td>{{ game.description }}</td>
	</tr>
	<tr>
		<th>{% field_name game "added_by" %}</th>
		<td>{{ game.added_by }}</td>
	</tr>
	<tr>
		<th>Turneringar</th>
		<td>
		<div style="display:flex;flex-direction:row; flex-wrap:wrap">
		{% for placement in placements %}
			
			<div style="margin:0.1em; padding:0.5em; width:40%;min-width:17em">
				<strong>{{ placement.event }}</strong>
				<ul>
				{% for player in placement.fp.all %}
					<li class="firstplace">{{ player.gamertag }}</li>
				{% endfor %}

				{% for player in placement.sp.all %}
					<li class="secondplace">{{ player.gamertag }}</li>
				{% endfor %}

				{% for player in placement.tp.all %}
					<li class="thirdplace">{{ player.gamertag }}</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
		</div>
		</td>
	</tr>
	{% if game.added_by == user.player %}
	<tr>
		<td colspan="2"><a href="{% url 'game update' game.id %}" class="btn btn-primary btn-lg btn-block">Uppdatera spel</a></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'game delete' game.id %}" class="btn btn-danger btn-lg btn-block">Ta bort spel</a></td>
	</tr>
	{% endif %}
</table>

<h3>Kommentarer</h3>
{% render_comment_list for game %}
{% render_comment_form for game %}

{% endblock %}