{% extends "base_generic.html" %}

{% block content %}

<h2>Importera från steam</h2>

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}

	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-primary btn-lg btn-block" /></td>
	</tr>

	</table>
</form>

{% endblock %}