{% extends "base_generic.html" %}
{% load extra_filters %}
{% load inclusion_tags %}

{% block content %}

{% if ongoing_event and user.player in ongoing_event.players.all %}
<div class="ongoing_event">
	<h2>Ett event du är med på körs!</h2>
	{% if ongoing_event.added_by == user.player %}
		<a class="live_button" href="{% url 'event live admin' ongoing_event.id %}">Anslut</a>
	{% else %}
		<a class="live_button" href="{% url 'event live' ongoing_event.id %}">Anslut</a>
	{% endif %}
</div>
{% endif %}

<h2>Välkommen!</h2>

{% if news %}
<h3>Nyheter</h3>
<div class="c_article_container">
	{% for newsarticle in news %}
	<article>
		<a href="{% url 'news detail' newsarticle.id %}"><header>{{ newsarticle.added_by }} - {{ newsarticle.date }}</header></a>
		<h4>{{ newsarticle.heading }}</h4>
		{{ newsarticle.article_text|markdown|safe }}
	</article>
	{% endfor %}
</div>
{% endif %}

<h3>Kommande event</h3>

{% if not events %}
<p>Inga kommande event planerade. <a href="{% url 'event create' %}" class="btn btn-primary btn-lg">Skapa ett</a></p>
{% endif %}

{% for event in events %}
<h4>{{ event.name }}</h4>
	{% render_event_block event %}
{% endfor %}

<h3>Senaste kommentarerna</h3>

<div class="c_article_container">
{% for c in comments %}
	{% get_object_name c.content_type c.object_pk as objname %}

	{% if objname %}
	<article>
		<header>
			<span>{{ c.user.player }}<br />{{ c.submit_date }}</span>
			<a href="{% get_object_link c.content_type c.object_pk %}#comments">
				{{ objname }}
			</a>
		</header>
		{{ c.comment|markdown|safe }}
	</article>
	{% endif %}
{% endfor %}
</div>

<h3>Senaste betygen</h3>

<div class="c_article_container">
<table class="table table-light table-striped" style="max-width:80em;">
	<tr>
		<th>Spelare</th>
		<th>Till</th>
		<th>Poäng</th>
	</tr>
{% for r in ratings %}
	{% get_object_name r.content_type r.object_id as objname %}
	{% get_object r.content_type r.object_id as obj %}
	
	<tr>
		<td>{{ r.player.gamertag }}</td><td>{{ objname }}</td><td>{% show_ratings1 r.rating True %}</td>
	</tr>
{% endfor %}
</table>
</div>


{% endblock %}