{% extends "base_generic.html" %}
{% load extra_filters %}
{% block content %}
<h2>Betalningar</h2>

<h3>Summa: {{ sum }}</h3>

<div class="collapsible-eventtable-container">
{% for obj in object_list %}
	<div style="max-width:100em" class="collapsible-eventtable list">
		<div class="cell f-20">
			<div class="header">Spelare</div>
			<div class="content">
				{{ obj.player }}
			</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Datum</div>
			<div class="content">{{ obj.date }}</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Mängd</div>
			<div class="content">{{ obj.amount }}</div>
		</div>	

		<div class="cell f-10">
			<div class="header">Riktning</div>
			<div class="content">{{ obj.get_direction_display  }}</div>
		</div>	

		<div class="cell f-20">
			<div class="header">Beskrivning</div>
			<div class="content">{{ obj.description }}</div>
		</div>	


		<div class="cell f-10">
			<div class="header">Ändra</div>
			<div class="content" style="align-items: center;flex-direction: row; text-align: right">
			{% if user|is_admin %}
				<a class="btn btn-primary btn-lg" href="{% url 'moneytransactions update' obj.id %}">✎</a>
				<a class="btn btn-danger btn-lg" href="{% url 'moneytransactions update' obj.id %}">🗙</a>
			{% endif %}
			</div>
		</div>	

	</div>
{% endfor %}
</div>

{% endblock %}