{% extends "base_generic.html" %}
{% load extra_filters %}

{% load comments %}
{% load inclusion_tags %}

{% block content %}

<div class="c_article_container">
	<article>
		<header>{{ news.added_by }} - {{ news.date }}</header>
		<h4>{{ news.heading }}</h4>
		{{ news.article_text|markdown|safe }}
	</article>
</div>

<h3>Kommentarer</h3>
{% render_comment_list for news %}
{% render_comment_form for news %}

{% endblock %}