{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
<h2>Nyheter</h2>

	<div class="c_article_container">
	{% for newsarticle in object_list %}
		<article>
			<header>{{ newsarticle.added_by }} - {{ newsarticle.date }}</header>
		{% if newsarticle.added_by.user == user %}
				<div style="text-align: right; margin: 0.5em -1.5em 0 auto">
					<a class="btn btn-primary btn-sm" href="{% url 'news update' newsarticle.id %}">Ändra</a>
					<a class="btn btn-danger btn-sm" href="{% url 'news delete' newsarticle.id %}">Ta bort</a>
				</div>
		{% endif %}
				<h4>{{ newsarticle.heading }}</h4>
				<p>{{ newsarticle.article_text | markdown | safe }}</p>
		</article>
	{% endfor %}
	</div>

{% endblock %}