{% extends "base_generic.html" %}

{% load extra_filters %}
{% load comments %}

{% block content %}
    <h2>Användaruppgifter</h2>

<table class="table table-striped table-light c_formtable">
	<tr>
		<td colspan="2"><img class="boxart" src="{{ player.get_photo_url }}"></td>
	</tr>
{% if player == user.player or user|is_admin %}
	<tr>
		<td colspan="2" style="text-align:center">Understrukna fält kan bara du se.</td>
	</tr>
	<tr>
		<th class="onlyforyou">Användarnamn/email</th>
		<td>{{ player.user.username }} ({% if not player.verified_mail %}ej {% endif %}verifierad)</td>
	</tr>
	<tr>
		<th class="onlyforyou">Notifikationer</th>
		<td>
			<ul>
				{% if player.get_event_notifications %}<li>Event</li>{% endif %}
				{% if player.get_news_notifications %}<li>Nyheter</li>{% endif %}
			</ul>
		</td>
	</tr>
{% endif %}
	<tr>
		<th>GamerTag</th>
		<td>{{ player.gamertag }}</td>
	</tr>
	<tr>
		<th>Förnamn</th>
		<td>{{ player.user.first_name }}</td>
	</tr>
	<tr>
		<th>Efternamn</th>
		<td>{{ player.user.last_name }}</td>
	</tr>
	<tr>
		<td colspan="2">
		<h4>Placeringar</h4>
		<div style="display:flex;flex-direction:row; flex-wrap:wrap">
		{% for event,games in placement_info.items %}
			
			<div style="margin:0.1em; padding:0.5em; width:45%">
				<strong>{{ event.name }}</strong>
				<ul>
					{% for game,score in games.items %}
					<li class="{{ score }}">{{ game }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
		</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<h4>Bonuspoäng</h4>
		<div style="display:flex;flex-direction:row; flex-wrap:wrap">
			<table>
				<tr>
					<th>Från</th>
					<th>Poäng</th>
					<th>Anledning</th>
					<th>Event</th>
				</tr>
		{% for extrapoint in extrapoints %}
				<tr>
					<td>{{ extrapoint.from_player.gamertag }}</td>
					<td>{{ extrapoint.points }}</td>
					<td>{{ extrapoint.description }}</td>
					<td>{{ extrapoint.event }}</td>
				</tr>
		{% endfor %}
			</table>
		</div>
		</td>
	</tr>
{% if player == user.player or user|is_admin %}
	<tr>
		<td colspan="2"><a href="{% url 'player update' player.id %}" class="btn btn-block btn-primary btn-lg">Ändra användaruppgifter</a></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'player update-password' player.id %}" class="btn btn-block btn-primary btn-lg">Ändra lösenord</a></td>
	</tr>
{% endif %}
</table>

{% if player != user.player %}
	<h3>Kommentarer</h3>
	{% render_comment_list for player %}
	{% render_comment_form for player %}
{% endif %}

{% endblock %}