{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
    <h2>Användare</h2>
	
	<div class="c_table_container">
		<table class="table table-striped table-light c_game_table">
			<thead>
			<tr>
				<th>Användare</th>
				<th>Mail-notifikationer</th>
				<th>Mail/användarnamn</th>
				<th>Validerad mail</th>
				<th>Ändra/ta bort</th>
			</tr>
			</thead>
			<tbody>
			{% for player in object_list %}
			<tr>
				<td>{{ player }}</td>
				<td>
					<ul>
						{% if player.get_event_notifications %}<li>Event</li>{% endif %}
						{% if player.get_news_notifications %}<li>Nyheter</li>{% endif %}
					</ul>
				</td>
				<td>{{ player.user.username }}</td>
				<td>{{ player.verified_mail }}</td>
				<td style="text-align: right">
					{% if user|is_admin %}
						<a class="btn btn-primary btn-lg" href="{% url 'player update' player.id %}">Ändra</a>
						<a class="btn btn-danger btn-lg" href="{% url 'player delete' player.id %}">Ta bort</a>
					{% endif %}
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<script>
	$(".c_game_table").fancyTable({
		sortColumn:0, // column number for initial sorting
		sortOrder: 'descending', // 'desc', 'descending', 'asc', 'ascending', -1 (descending) and 1 (ascending)
		sortable: true,
		pagination: false, // default: false
		searchable: true,
		globalSearch: true,
		globalSearchExcludeColumns: [4] // exclude column 2 & 5
	});
	</script>


{% endblock %}