{% extends "base_generic.html" %}

{% block content %}

{% if form.fields.token %}
<h2>Skapa användare</h2>
{% else %}
<h2>Ändra användaruppgifter</h2>
{% endif %}

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
		{% if form.fields.token %}
		<tr><th>Användarnamn</th><td>{{ form.username.value }}</td></tr>
		{% endif %}
    {{ form.as_table }}
	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-block btn-primary btn-lg" /></td>
	</tr>
	</table>
    
</form>

{% endblock %}