{% extends "base_generic.html" %}

{% load extra_filters %}

{% block content %}
	<h2>Användare</h2>
	
	<div class="c_flexcontainer">
		{% for player in object_list %}
		<a class="player_badge" href="{% url 'player detail' player.id %}">
				<img src="{{ player.get_photo_url }}">
				<p>{{ player }}</p>
		</a>

		{% endfor %}
	</div>

{% endblock %}