{% extends "base_generic.html" %}

{% load extra_filters %}
{% load static %}

{% block content %}
    <h2>Resurser</h2>
<h3>Logos</h3>
	<div class="c_flexcontainer">
	{% for event in lsbfgt_events %}
		{% if event.logo %}
				<a href="{{ event.logo.url }}" target="_blank"><img class="logo" src="{{ event.logo.url }}"></a>
		{% endif %}
	{% endfor %}
	</div>

<h3>Wallpapers</h3>
	<div class="c_flexcontainer">
	{% for event in lsbfgt_events %}
		{% if event.wallpaper %}
				<a href="{{ event.wallpaper.url }}" target="_blank"><img class="logo" src="{{ event.wallpaper.url }}"></a>
		{% endif %}
	{% endfor %}
	</div>

<h3>Logotyptemplate</h3>
<a class="btn btn-primary btn-lg" href="{% static 'gamemanager/resources/LSBFGT_TEMPLATE.psd' %}">Ladda ner</a>

<h3>Trofe</h3>


{% endblock %}
