{% extends "base_generic.html" %}
{% load extra_filters %}
{% load static %}

{% block content %}
	<h2>Topplistor 
		<a href="{% url 'score list' year|add:"-1" %}" style="text-decoration:none">&lt;</a>
	{{ year }}
		<a href="{% url 'score list' year|add:"1" %}" style="text-decoration:none">&gt;</a>
	</h2>

	<h3>Poäng</h3>
	<div class="c_table_container">
		<table class="table table-striped table-light c_game_table">
			<thead>
			<tr>
				<th style="width:2em">Plats</th>
				<th>Spelare</th>
				<th>Poäng</th>
			</tr>
			</thead>
			<tbody>
			{% for score_record in scores %}
			<tr>
				<td style="text-align:center">
				{% if forloop.counter == 1 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_gold.svg" />
				{% elif forloop.counter == 2 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_silver.svg" />
				{% elif forloop.counter == 3 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_bronze.svg" />
				{% else %}
					{{ forloop.counter }}
				{% endif %}
				</td>
				<td>{{ score_record.player }}</td>
				<td style="text-align:right">{{ score_record.total }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<h3>Anordnade event</h3>
	<div class="c_table_container">
		<table class="table table-striped table-light c_game_table">
			<thead>
			<tr>
				<th style="width:2em">Plats</th>
				<th>Spelare</th>
				<th>Antal</th>
			</tr>
			</thead>
			<tbody>
			{% for score_record in event_creators %}
			<tr>
				<td style="text-align:center">
				{% if forloop.counter == 1 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_gold.svg" />
				{% elif forloop.counter == 2 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_silver.svg" />
				{% elif forloop.counter == 3 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_bronze.svg" />
				{% else %}
					{{ forloop.counter }}
				{% endif %}
				</td>
				<td>{{ score_record.player }}</td>
				<td style="text-align:right">{{ score_record.total }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<h3>Deltaganden</h3>
	<div class="c_table_container">
		<table class="table table-striped table-light c_game_table">
			<thead>
			<tr>
				<th style="width:2em">Plats</th>
				<th>Spelare</th>
				<th>Antal</th>
			</tr>
			</thead>
			<tbody>
			{% for attendee in attends %}
			<tr>
				<td style="text-align:center">
				{% if forloop.counter == 1 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_gold.svg" />
				{% elif forloop.counter == 2 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_silver.svg" />
				{% elif forloop.counter == 3 %}
					<img style="width:3em;" src="{% get_static_prefix %}gamemanager/images/trophy_bronze.svg" />
				{% else %}
					{{ forloop.counter }}
				{% endif %}
				</td>
				<td>{{ attendee.player }}</td>
				<td style="text-align:right">{{ attendee.total }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}