{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
    <h2>Användartokens</h2>
	
	<div class="c_table_container">
		<table class="table table-striped table-light c_game_table">
			<thead>
			<tr>
				<th>Token</th>
				<th>Mail</th>
				<th>Utgångsdatum</th>
				<th>Ändra/ta bort</th>
			</tr>
			</thead>
			<tbody>
			{% for playercreatetoken in object_list %}
			<tr>
				<td>{{ playercreatetoken.token }}</td>
				<td>{{ playercreatetoken.email }}</td>
				<td>{{ playercreatetoken.expire_date }}</td>
				<td style="text-align: right">
					{% if user|is_admin %}
						<a class="btn btn-danger btn-lg" href="{% url 'usertoken delete' playercreatetoken.id %}">Ta bort</a>
					{% endif %}
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}