{% extends "base_generic.html" %}
{% load extra_filters %}

{% block content %}
    <h2>Användaruppgifter</h2>

<table class="table table-striped table-light c_formtable">
	<tr>
		<th>Användarnamn/email</th>
		<td>{{ user }}</td>
	</tr>
	<tr>
		<th>GamerTag</th>
		<td>{{ user.player.gamertag }}</td>
	</tr>
	<tr>
		<th>Förnamn</th>
		<td>{{ user.first_name }}</td>
	</tr>
	<tr>
		<th>Efternamn</th>
		<td>{{ user.last_name }}</td>
	</tr>
	<tr>
		<th>Notifikationer</th>
		<td>{{ user.player.get_notifications }}</td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'user update' %}" class="btn btn-block btn-primary btn-lg">Ändra användaruppgifter</a></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{% url 'user update password' %}" class="btn btn-block btn-primary btn-lg">Ändra lösenord</a></td>
	</tr>
</table>

{% endblock %}