{% extends "base_generic.html" %}

{% block content %}
<h2>Skapa användartoken</h2>

<form method="post" action = "">
	{% csrf_token %}
	<table class="table table-light table-striped c_formtable">
    {{ form.as_table }}
	<tr>
		<td colspan="2"><input type="submit" value="Uppdatera" class="btn btn-block btn-primary btn-lg" /></td>
	</tr>
	</table>
    
</form>
{% endblock %}