.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  vertical-align: bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.btn.logo-block {
	font-weight: 700;
    padding: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	display: block;
}

.btn.logo-block div {
	border: 0.3em solid white;
	color: white;
	font-size: 4.0em;
	font-family: 'Work Sans';
	font-weight: 900;
	text-align: left;
	padding: 0.2em;

	line-height: 0.85;
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.cob_addon {
	display: block;
	background-color: #4D0000 !important;
	font-family: 'Raleway', sans-serif !important;
	font-size: 2em;
	font-weight: 300;
	color: #f59b00;
	max-width: 25em;
	margin: 0.5em auto;
	z-index: 100;
	padding-bottom: 1em;
}

.cob_addon a,
.cob_addon a:visited,
.cob_addon a:hover,
.cob_addon a:active {
	text-decoration: none !important;
	border: 0;
	color: #f59b00;
}

.cob_addon img {
	box-shadow: none !important;
}

/* ---------- */
/* Search row */
/* ---------- */

.fancySearchRow input {
	height: 2.5em;
	font-size: 1.5em;
}

/* --------------- */
/* Game placements */
/* --------------- */

ul.game-placements {
	list-style: none;
	margin-bottom: 1em;
}

ul.game-placements li{
	margin-bottom: 0.4em !important;
	margin-left: 0em;
}

ul.game-placements li:nth-child(1):before {
	content: "🥇 ";
	margin-left: -1.5em;
}

ul.game-placements li:nth-child(2):before {
	content: "🥈 ";
	margin-left: -1.5em;
}

ul.game-placements li:nth-child(3):before {
	content: "🥉 ";
	margin-left: -1.5em;
}

ul ul.game-placements li:nth-child(-n+3):before {
	margin-left: 1.5em;
}

div.placement-flex {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

div.placement-flex div.desktop-hidden{
	width: 50%;
}

.firstplace:before {
	content: "🥇 ";
	margin-left: -1.5em;
	flex-direction: column;
}

.secondplace:before {
	content: "🥈 ";
	margin-left: -1.5em;
}

.thirdplace:before {
	content: "🥉 ";
	margin-left: -1.5em;
}

/* ------- */
/* RATINGS */
/* ------- */

.rating-container {
white-space: nowrap;
}

.rating-container a, .rating-container span {
margin: 0 -0.1em;
vertical-align: bottom;
position: relative;
}

.rating-star {
	font-size: 2em;
}

.rating-star:before {
	content: "★";
}

.rating-star.filled {
	color: rgba(224, 168, 0, 1.0) !important;
}

.rating-star.faded {
	color: rgba(224, 168, 0, 0.3) !important;
}

.rating-container .my_rating {
	/* text-shadow: 0 0.05em 0.1em var( --main-color ); */
	/* -webkit-text-stroke: 1px var( --main-color ); */
	border-bottom: 0.2em solid var( --main-color );
}

.rating-skull {
	font-size: 1.2em;
	padding-bottom: 0.25em;
	bottom: 0.25em;
}

.rating-skull:before {
	content: "💀";
}


.rating-skull.filled {
	color:rgba(0,0,0,1.0);
}

.rating-skull.faded {
	color:rgba(0,0,0,0.1) !important;
}

.rating-container .rating-skull.my_vote {
	/* text-shadow: 0 0.05em 0.1em var( --main-color ); */
	/* -webkit-text-stroke: 1px var( --main-color ); */
	border-bottom: 0.3em solid darkred;
}


/* ------------- */
/* BOXART THUMBS */
/* ------------- */

.boxart_thumb {
	max-width: 8em;
	margin: 0 auto;
}

/* ------------------ */
/* COLLAPSABLE TABLES */
/* ------------------ */

.collapsible-eventtable-container {
	margin-bottom: 4em;
}

.collapsible-eventtable {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: stretch;
	box-shadow: var( --shadow );
	max-width: 60em;
}

.collapsible-eventtable.list:nth-of-type(1) .header {
	display: block;	
}

.collapsible-eventtable.list:nth-of-type(even) .content {
	background-color: #F0F0F1;
}


.collapsible-eventtable.list .header {
	display: none;
}

.collapsible-eventtable.list .content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.collapsible-eventtable .full-width {
	width: 100%;
	padding: 0.5em;
	text-align: center;
}

.collapsible-eventtable .full-width a img {
	box-shadow: var( --shadow );
	width: 100%;
	max-width: 50em;
}

.collapsible-eventtable .full-width a.btn {
	margin-top: 1em;
}

.collapsible-eventtable .cell {
	box-sizing: border-box;
	flex: 1 0 33%;
	display: flex;
	flex-direction: column;
	background-color: white;

}

.collapsible-eventtable .cell.f-10 {
	flex: 1 0 10%;
}

.collapsible-eventtable .cell.f-25 {
	flex: 1 0 25%;
}

.collapsible-eventtable .cell.f-20 {
	flex: 1 0 20%;
}

.collapsible-eventtable .cell.f-50 {
	flex: 1 0 50%;
}

.collapsible-eventtable .cell.f-100 {
	flex: 1 0 100%;
}

.collapsible-eventtable .cell .content {
	padding: 1em;
	height: 100%;
}

.collapsible-eventtable .cell .header {
	padding: 0.5em;
	text-align: center;
	background-color: #F0F0F1;
	font-weight: 700;
	border-bottom: 1px solid #dee2e6;
}

.collapsible-eventtable .content a{
	color: #3276B1;
	font-weight: 700;
	text-decoration: none;
}

.collapsible-eventtable a.btn{
	color: white;
	font-weight: 400;
	margin-left: 0.5em;
}

.collapsible-eventtable a.btn-block{
	font-weight: 400;
	margin: 0.5em;
	width: calc( 100% - 2em );
}

@media (max-width: 768px) {
	.collapsible-eventtable .cell {
		flex-basis: 100% !important;
	}

	.collapsible-eventtable.list .cell:first-child {
		text-align: center;
		flex-basis: 100% !important;
	}

	.collapsible-eventtable.list .cell {
		flex-basis: 50% !important;
	}

	.collapsible-eventtable .boxart_thumb {
		width: 100%;
		max-width: 100em; !important;
	}

	.collapsible-eventtable.list {
		margin-bottom: 3em;
	}

	.collapsible-eventtable.list .header {
		display: block;
	}

	.collapsible-eventtable.list:nth-of-type(even) .content {
		background-color: white;
	}
}

.collapsible-eventtable.column .cell {
	flex-basis: 100% !important;
}



.attend-list, .game-list {
	padding: 0;
	list-style: none;
}

.attend-list li:before {
	content: "✔ ";
}

.attend-list li, 
.game-list li {
	white-space: nowrap;
	padding-bottom: 0.3em;
}

.cannot-attend {
	color: #9c635f;
}

.cannot-attend:before {
	content: "✘ " !important;
}

.cannot-attend:before {
	content( "V " )
}

tr.error {
	background-color: rgba(255,0,0,0.3) !important;
}

/* ------------ */
/* BRAND BUTTON */
/* ------------ */

header {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 0.5em;
}

.mobile-menu {
	background-color: var(--nav-color);
	text-align: right;
}

.mobile-menu a {
	margin:0.5em;
	position:relative;
	display:inline-block;
	padding:1em;
	background-color:red;
	text-decoration:None;
	background: #333C44;
	text-shadow: 1px 1px 1px #34495e;
	text-align: center;
	border-radius: 0.5em;
	color:white;
}

@media (min-width: 768px) {
	.mobile-menu {
		display:None;
	}
}

header h1 {
  border-radius: 0.2em;
  padding: 1em;
  width: 7em;
  background: #333C44;
  text-shadow: 1px 1px 1px #34495e;
  text-align: center;
  order: 1;
  margin: 0;
  margin-right: 0.5em;
}

header h1 a{
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.2em;
	display: block;
	line-height: 0.2;
	text-decoration: none;
  color: #ffffff !important;

}

header p {
    order: 2;
	font-size: 0.8em;
	margin: 0.5em 0 0 0.5em;
	color: white;
	
}

/* ------------ */
/* LIVE BUTTON */
/* ------------ */


.live_button {
  border-radius: 0.2em;
  padding: 1em;
  max-width: 100%;
  background: #333C44;
  text-shadow: 1px 1px 1px #34495e;
  text-align: center;
  order: 1;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  font-size: 5em;
	display: block;
	line-height: 0.2;
	text-decoration: none;
  color: #ffffff !important;

}


.c_flexitem {
	margin-bottom: 2em;
}

.c_flexitem h3 {
	margin-bottom: 0em;
}

/* --- */
/* Nav */
/* --- */

nav ul {
	list-style: None;
	white-space: nowrap;
}

nav ul ul{

}

nav > ul {
	margin-bottom: 1em;
	padding: 0.5em;
	padding-left: 3em;
	padding-right: 2em;
}

nav > ul li{
	margin-bottom: 1em;
}

nav li.divider{
	/*
	border-bottom: 1px solid #8da3b8;
	*/
	height: 3px;
	/* background-color: #007be0; */
	/* box-shadow: 0px 2px 1px rgba(0,0,0,0.2) inset; */
}


nav > ul ul{
	margin: 0em;
	margin-top: 1em;
	padding: 0; 
	padding-left: 1em;
}

nav a {
	text-decoration: None;
	font-size: 1.2em;
	font-weight: 300;
	color: #333C44;
}

nav ul ul a{
	color: #566573;
}

nav a.current {
	color: rgb(50, 118, 177) !important;
	font-weight: 700;
}

@media (max-width: 768px) {
	nav > ul li{
		margin-bottom: 0.75em;
	}
}

/* -------- */
/* Calendar */
/* -------- */

.c_calenderbtn {
	background-color: #3276B1 !important;
}

.c_calenderbtn a {
	color: white;
	text-decoration: None;
}

table.calendar {
	border-radius: 0.5em;
	border-spacing: 0.2em;
 /* */
	box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5);
	margin: 0.5em;
	background-color: white;
}

table.calendar td{
	background-color: white;
}

table.calendar tbody th {
	font-weight: 300;
}

table.calendar tbody tr:last-child td:first-child{
	border-bottom-left-radius: 0.5em;
}

table.calendar tbody tr:last-child td:last-child{
	border-bottom-right-radius: 0.5em;
}


table.calendar th.month {
	background-color: #3276B1;
	padding: 0.5em;
	color: white;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-radius: 0.5em;
	text-shadow: 0.1em 0.1em 0.1em #34495e
}

table.calendar tr:nth-child(2) th {
	color: #3276B1;
}

table.calendar .current_day {
	box-shadow: 0 0 0px 2px #f00 inset
}

table.calendar td {
	border: 1px solid #ddd;
	border-radius: 0.2em;
	text-align: center;
	vertical_align: middle;
	width: 1.3em;
	height: 1.3em;
	color: #333C44;
}

/* ------------ */
/* Articles */
/* ------------ */

.c_article_container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
}

.c_article_container article {
	box-shadow: 0em 0em 10px -5px rgba(0,0,0,.8);
	flex: 1 0 30%;
	min-width: 10em;
	margin: 0 1em 3em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	padding: 0 2em 2em 2em;
	box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
	white-space: initial;
}

.c_article_container article h4{
	margin-top: 1em;
	margin-left: 0;
}

.c_article_container article p{
	margin: 0 0 1em 0;
}

.c_article_container article a{
	color: var( --main-color );
	text-decoration: none;
	font-weight: 700;
}

.c_article_container article a.btn {
	color: white;
}

.c_article_container article header {
	display:flex; 
	justify-content:space-between;
	align-items: flex-start;
	color: #212529;
	box-shadow: None;
	background-color: #F0F0F1;
	margin-left: -2em;
	margin-right: -2em;
	margin-bottom: 2em;
}

.c_article_container article header a {
	height:3em;
	line-height: 3em;
	margin-right: 1em;
}
/* ------- */
/* BUTTONS */
/* ------- */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

a.btn {
	text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {  
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,  
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,  
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,  
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,  
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {  
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,  
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,  
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,  
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,  
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {  
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,  
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,  
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,  
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,  
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {  
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,  
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,  
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,  
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,  
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {  
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,  
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,  
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,  
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,  
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {  
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,  
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,  
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,  
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,  
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {  
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {  
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,  
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {  
  color: #999;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,  
input[type="reset"].btn-block,  
input[type="button"].btn-block {  
  width: 100%;
}

/* ------ */
/* TABLES */
/* ------ */


.c_placeceontainer {
	width: 80%;
	margin: 0 auto 3em auto;
	padding-top: 30em;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.c_place {
	width: 33%;
	background: rgb(223,223,223);
	background: linear-gradient(0deg, rgba(223,223,223,1) 0em, rgba(255,255,255,1) 20em);
	border-top: 1em solid #c6c6c6;
	border-bottom: 0.2em solid #c6c6c6;
	box-shadow: inset 0em 1em 0.5em -1.2em rgba( 0,0,0,0.6 );
}

.c_place h1 {
	display: block;
	margin: 0;
	margin-top: 0.2em;
	width:100%;
	text-align: center;
	font-family: 'arial black';
	font-size: 5em;
	color: #c6c6c6;
	text-shadow: 4px 2px 1px rgba(255,255,255,0.2);
}

/* .c_place img { */
	/* width: 10em; */
	/* max-height: 12em; */
	/* position: relative; */
	/* box-shadow: var(--shadow); */
	/* bottom: 10%; */
	/* vertical-align: text-bottom; */
/* } */

/* .c_place p { */
	/* display: block; */
	/* text-align: center; */
	/* position: relative; */
	/* top: -12em; */
	/* font-weight: 700; */
	/* font-size: 1.8em; */
	/* margin: 0.5em; */
	/* color: #007be0; */
	/* white-space: nowrap; */
/* } */

.c_third {
	height: 10em;
	border-left: 0.1em solid #c6c6c6;
}

.c_third p {
	
}

.c_first {
	height: 20em;
}

.c_second {
	height: 13em;
	border-right: 0.1em solid #c6c6c6;
}

.c_livegametable {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}

.c_livegametable .item {
	display: block;
	padding: 1em;
	flex: 0 0 auto;
	margin: 0.2em;
	font-size: 1.2em;
	font-weight: 700;
	background-color: #428bca;
	border-radius: 0.2em;
	box-shadow: 0 0 0.2em rgba( 0,0,0,0.2 );
	width: 35%;
	text-align: center;
	color:white;
}

.c_livegametable .c_current {
	box-shadow: 0 0 0px 0.5em #3276B1 inset
}

.c_livegametable .c_finished::before {
	content: "✔️ ";
}

.c_livegametable th {
	background-color: rgba( 0,0,0,0.2 );
}

.c_livetable {
	font-size: 1.0em;
	width: 100%;
	margin-bottom: 3em;
	background-color: rgba( 255,255,255,0.8 );
}

.c_livetable tr th, .c_livetable tr td{
	padding: 1em 2em;
}

.c_livetable th:first-child {
	width: 20em;
}

.c_livetable tr:nth-child( odd ) {
	background-color: rgba( 0,0,0,0.1 );
}

.c_livetable tr:first-child th {
	text-align: center;
}

.c_livetable th{
	text-align: right;
}


.c_static_content {
	text-align: center;
	padding: 0;
}

.c_static_content p {
	font-size: 1.3em;
}


/* custom tables */
.c_table_container {
	overflow-x: auto;
	box-shadow: 0 0 0.1em rgba(0,0,0,0.5);
	max-width: 100%;
}

.c_table_container .table {
	box-shadow: none;
	width: 100% !important;
	max-width: 100%;
}
 	

.c_formtable {
	max-width: 50em;
	border-collapse: collapse;
}


.c_formtable ul li {
	margin-bottom: 1em;
}

.c_formtable th{
	vertical-align: middle;
}


.c_formtable tr th:first-child {
	text-align: right;
	width: 10em;
	border-right: 0.4em solid #3276B1;
}

.c_formtable ul {
	padding-left: 1em;
}

.c_formtable .boxart {
	display: block;
	margin: 0 auto;
	min-height: 30em;

}

.c_formtable input {
	padding-left: 0.5em;
	height: 2em;
}

.c_formtable select {
	padding: 0.5em;
	margin: 0;
}

.c_formtable input[type=checkbox] {
	height: 2em;
	width: 2em;
}

.c_formtable input[type=text], 
.c_formtable input[type=number], 
.c_formtable input[type=url], 
.c_formtable input[type=password], 
.c_formtable input[type=email], 
.c_formtable input[type=range], 
.c_formtable select, 
.c_formtable textarea{
	width: 96%;
	margin-right: 1em;
}

.c_formtable input[type=submit] {
	height: auto;
}

.c_game_table td {
	white-space: nowrap;
	vertical-align: middle !important
}

.c_game_table img {
	max-width: 10em;
}

.c_event_thumb {
	max-width: 50%;
}

/* bootstrap table */

.table {
width: 100%;
margin-bottom: 1rem;
color: #212529;
box-shadow: var( --shadow );
}

.table th,
.table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}

.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
padding: 0.3rem;
}

.table-bordered {
border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
color: #212529;
background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
background-color: #b8daff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
border-color: #7abaff;
}

.table-hover .table-primary:hover {
background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
background-color: #d6d8db;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
border-color: #8fd19e;
}

.table-hover .table-success:hover {
background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
border-color: #86cfda;
}

.table-hover .table-info:hover {
background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
border-color: #ed969e;
}

.table-hover .table-danger:hover {
background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
border-color: #fbfcfc;
}

.table-hover .table-light:hover {
background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
border-color: #95999c;
}

.table-hover .table-dark:hover {
background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
color: #fff;
background-color: #343a40;
border-color: #454d55;
}

.table .thead-light th {
color: #495057;
background-color: #e9ecef;
border-color: #dee2e6;
}

.table-dark {
color: #fff;
background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
border-color: #454d55;
}

.table-dark.table-bordered {
border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
color: #fff;
background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
.table-responsive-sm {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.table-responsive-sm > .table-bordered {
border: 0;
}
}

@media (max-width: 767.98px) {
.table-responsive-md {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.table-responsive-md > .table-bordered {
border: 0;
}
}

@media (max-width: 991.98px) {
.table-responsive-lg {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.table-responsive-lg > .table-bordered {
border: 0;
}
}

@media (max-width: 1199.98px) {
.table-responsive-xl {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.table-responsive-xl > .table-bordered {
border: 0;
}
}

.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
border: 0;
}

.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
border: 0;
}

/* ------ */
/* ALERTS */
/* ------ */


.alert {
  border: 1px solid rgba( 0,0,0,0.5 );
  border-radius: 0.1em;
  color: rgba( 0,0,0,0.5 );
  padding: 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-error {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

#matchdata-container {
  display: block;
  margin-bottom: 1em;
  border-radius: 0.1em;
  box-shadow: var(--shadow);
  padding: 1em;
  width: 48em;
  background-color: #fff;
}

.c_formtable #custom_image_field {
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.c_formtable #custom_image_field img{
	flex-basis: 100%;
}


.c_formtable #custom_image_field .file{
	flex-basis: 60%;
	padding-top: 1.0em !important;
}

.c_formtable #custom_image_field .delete{
	flex-basis: 20%;
	margin-left: auto;
}

.c_formtable #custom_image_field .file,
.c_formtable #custom_image_field .delete{
	padding-top: 0.5em;
}

.c_formtable #custom_image_field .delete label
{
	align-self: flex-end;
	position: relative !important;
	top: -0.25em !important;
}

.c_formtable #custom_image_field .file input
{
	max-width: 20em !important;
}

.c_formtable .onlyforyou
{
	text-decoration:underline;
}

.c_flexcontainer {
	display:flex;
	flex-wrap: wrap;
}

.c_flexcontainer .c_flexitem{
	margin:2em 3em;
	flex-basis: 40em;
}

.c_flexcontainer img.logo{
	height:10em;
	margin: 0.5em;
	box-shadow: var( --shadow );
}

.player_badge {
	flex-basis: 10em;
	padding: 0.5em;
	background-color: var( --main-color);
	box-shadow: var( --shadow );
	margin:1em;
	border-radius: 0.3em;
	text-align:center;
}

.player_badge img {
	width: 9em;
	height: 9em;
	background-color:white;
	object-fit: cover;
	object-position: 50% 0;
}

.player_badge p {
	color:white;
}

.winner-badge {
	position:relative;
	display:block;
	left:12%;
	bottom: 10em;
	transform: translateY(-100%);
	z-index:10;
	padding: 0.5em;
	width:70%;
	border-radius: 0.3em;
	text-decoration:none;
	box-shadow: var(--shadow);
}

.winner-badge img{
	display:block;
	width:100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: 50% 0;	
}

.winner-badge p{
	color:rgba(0,0,0,0.6);
	font-size: 100%;
	overflow-wrap: anywhere;
}

.winner-badge .stars{
	font-size: 200%;
	padding: 0;
	line-height:0.8em;
	margin: 0;
	/* color:rgba(0,0,0,0.4); */
	color:rgba(0,0,0,0.4);
	text-shadow: 2px 2px 2px rgba(255,255,255,0.2);
	box-shadow: inset 0 10px 40px rgba(0,0,0,.05);
}

.c_first .winner-badge {
	background: radial-gradient(circle at 18.7% 37.8%, rgb(254, 211, 54) 0%, rgb(165, 135, 44) 90%);
}

.c_second .winner-badge {
	background: radial-gradient(circle at 18.7% 37.8%, rgb(240, 240, 240) 0%, rgb(205, 214, 218) 90%);
}

.c_third .winner-badge {
	background: radial-gradient(circle at 18.7% 37.8%, rgb(178, 88, 48) 0%, rgb(250, 211, 189) 90%);
}

