:root {
	--main-color: #3276B1;
	--nav-color: #F4F2F3;
	--shadow: 0 0 0.2em rgba(0,0,0,.5);
	--footer-text-color: white;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
}

/* ------ */
/* FONTS */
/* ------ */
* {
	font-family: 'raleway', verdana;
	color: #555;
}

.layout-footer {
	color: var( --footer-text-color );
}


.table {
	border-collapse: collapse;
	max-width: 80em;
}


.table td {
	vertical-align: middle;
}

.table a {
	color: #3276B1;
	text-decoration: None;
	font-weight: 700;
}

.table a.btn {
	color: white;
	font-weight: 400;
}

.table a.btn {
	color: white;
}

p {
	line-height: 1.8em;
}

/* ------- */
/* HEADERS */
/* ------- */

h2, h3, h4 {
	color:#007be0;
	font-weight: 100;
	margin-bottom: 0em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
	margin-left: 1em;
}

h4 {
	font-size: 2em;
	margin-left: 1em;
}

h2:first-child, h3:first-child, h4:first-child {
	margin-top: 0;
	margin-bottom: 1em;
}

h2, h3, h4 {
	margin-top: 2em;
}

h2 + h3 {
	margin-top: 0;
}

h3 + h4 {
	margin-top: 0;
}


/* -------------------- */
/* PADDINGS AND MARGINS */
/* -------------------- */
.layout-content {
	padding: 1em 2em;
}

.layout-content > p {
	margin-left: 2em;
}

.layout-footer {
	padding: 1em 2em;
	text-align: right;
}


/* ------ */
/* COLORS */
/* ------ */

.layout-header, .layout-footer {
	background-color: var( --main-color );
	box-shadow: var( --shadow );
	z-index: 10;
}

.layout-nav {
	background-color: var( --nav-color );
}

.layout-rightside {
	background-color: var( --nav-color );
}