{% load static %}
{% load sidebar %}
{% load extra_filters %}
<!DOCTYPE html>
<html>
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=0.7">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&Red+Hat+Mono:wght@300&family=Work+Sans:wght@900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/layout.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gamemanager/css/components.css' %}" />

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<script src="{% static 'gamemanager/js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'gamemanager/js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'gamemanager/js/jquery-ui-timepicker-addon.min.js' %}"></script>
		<script src="{% static 'gamemanager/js/jquery.bracket.min.js' %}"></script>
		<script src="{% static 'gamemanager/js/fancyTable.js' %}"></script>

		<link rel="stylesheet" href="{% static 'gamemanager/css/jquery-ui.min.css' %}">
		<link rel="stylesheet" href="{% static 'gamemanager/css/jquery-ui-timepicker-addon.min.css' %}">
		<link rel="stylesheet" href="{% static 'gamemanager/css/jquery.bracket.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
	</head>
<body class="layout">
	<header class="layout-header">
		<h1 class="brand_button">
			<a href="{% url 'home' %}">LSBFGTMP</a>
		</h1>
		<p>Luleå Super Best Friends Game Tournament Mainframe Program</p>
	</header>
	<div class="mobile-menu">
		<a href="#">☰</a>
	</div>
	<div class="layout-body">
		<main class="layout-content">

{% if messages %}
  {% for message in messages %}
		{% if message.tags %}
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% else %}
			<div class="alert">{{ message }}</div>
		{% endif %}
	{% endfor %}
{% endif %}

{% block content %}
{% endblock %}
		</main>
{% if user.is_authenticated %}
		<nav class="layout-nav">
			<ul>
				<li>
					<a href="{% url 'home' %}" class="active"><span class="material-icons">home</span> Hem</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{% url 'score list' %}"><span class="material-icons">scoreboard</span> Topplistor</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><span class="material-icons">event</span> Event</a>
					<ul>
						<li><a href="{% url 'event filtered list' 'LSBFGT' %}" class="active"><span class="material-icons">star</span> LSBFGT</a></li>
						<li><a href="{% url 'event filtered list' 'Chili och brädspel' %}" class="active"><span class="material-icons">star</span> Chili och brädspel</a></li>
						<li class="divider"></li>
						<li><a href="{% url 'event list' %}" class="active"><span class="material-icons">list</span> Visa</a></li>
						<li><a href="{% url 'event create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><span class="material-icons">videogame_asset</span> Spel</a>
					<ul>
						<li><a href="{% url 'game list' %}" class="active"><span class="material-icons">list</span> Visa </a></li>
						<li><a href="{% url 'game add' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
						<li><a href="{% url 'game import steam' %}" class="active"><span class="material-icons">download</span> Importera från steam</a></li>
					</ul>
				</li>
				<li>
					<a href="#"><span class="material-icons">casino</span> Brädspel</a>
					<ul>
						<li><a href="{% url 'boardgame list' %}" class="active"><span class="material-icons">list</span> Visa </a></li>
						<li><a href="{% url 'boardgame add' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
						<li><a href="{% url 'boardgame import bgg' %}" class="active"><span class="material-icons">download</span> Importera från BGG</a></li>
					</ul>
				</li>

				<li>
					<a href="#"><span class="material-icons">restaurant_menu</span> Maträtter</a>
					<ul>
						<li><a href="{% url 'food list' %}" class="active"><span class="material-icons">list</span> Visa</a></li>
						<li><a href="{% url 'food create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><span class="material-icons">account_circle</span> Användare</a>
					<ul>
						<li><a href="{% url 'player list' %}" class="active"><span class="material-icons">list</span> Visa </a></li>
						<li><a href="{% url 'player detail' user.player.id %}" class="active"><span class="material-icons">portrait</span> Min profil</a></li>
						<li><a href="{% url 'player update' user.player.id %}" class="active"><span class="material-icons">manage_accounts</span> Ändra</a></li>
						<li><a href="{% url 'player update-password' user.player.id %}" class="active"><span class="material-icons">key</span> Ändra lösenord</a></li>
	{% if user|is_admin %}
						<li class="divider"></li>
						<li><a href="{% url 'player create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa manuellt</a></li>
						<li><a href="{% url 'usertoken create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa token</a></li>
						<li><a href="{% url 'player list admin' %}" class="active"><span class="material-icons">list</span> visa lista (admin)</a></li>
						<li><a href="{% url 'usertoken list' %}" class="active"><span class="material-icons">list</span> Visa tokens</a></li>
	{% endif %}
					</ul>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{% url 'resources' %}"><span class="material-icons">photo_library</span> Media etc.</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><span class="material-icons">bug_report</span> Buggar/Förslag</a>
					<ul>
						<li><a href="{% url 'bugreport list' %}" class="active"><span class="material-icons">list</span> Visa</a></li>
						<li><a href="{% url 'bugreport create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
					</ul>
				</li>
				<li>
					<a href="{% url 'commit list' %}"><span class="material-icons">update</span> Uppdateringar</a>
				</li>
				<li>
	{% if user|is_admin %}
				<li>
					<a href="#"><span class="material-icons">newspaper</span> Nyheter</a>
					<ul>
						<li><a href="{% url 'news list' %}" class="active"><span class="material-icons">list</span> Visa</a></li>
						<li><a href="{% url 'news create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
					</ul>
				</li>
	{% endif %}
				<li>
					<a href="#"><span class="material-icons">receipt</span> Konto</a>
					<ul>
						<li><a href="{% url 'moneytransactions list' %}" class="active"><span class="material-icons">list</span> Visa</a></li>
	{% if user|is_admin %}
						<li><a href="{% url 'moneytransactions create' %}" class="active"><span class="material-icons">add_circle_outline</span> Skapa</a></li>
	{% endif %}
					</ul>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{% url 'logout' %}" class="active btn btn-danger btn-lg">Logga ut</a>
				</li>
			</ul>
		</nav>
{% endif %}
		<aside class="layout-rightside">
{% if user.is_authenticated %}
	{% side_bar_content %}
{% endif %}
		</aside>
	</div>
	<footer class="layout-footer">{% if user.player %}Inloggad som {{ user.player }}{% endif %}</footer>
	<script>
		function show_only_this( caller, elem ) {
			if( elem.attr("data-expanded") == "true") {
				return;
			}

			$( "nav ul" ).each( function() {
				if( $( this ).siblings( "a" ).length > 0 ) {
					$( this ).attr("data-expanded", "false");
					$( this ).slideUp();
				}
			});
            
			elem.slideDown();
			elem.attr("data-expanded", "true");
		}

		$('nav a').each( function() {
				var currentUrl = window.location.pathname.split("?")[0].split("#")[0]
				if( currentUrl === $( this ).attr( "href" ) ) {
					$( this ).addClass( "current" );
				}
		});

		$( document ).ready( function() {

			

			if($(".mobile-menu a").is(":visible")){
				$( "nav" ).hide();
			}

			$( ".mobile-menu a" ).click( function() {
				$( "nav" ).slideToggle();
			});

			$( "nav ul" ).each( function() {
				var ul = $( this );

				$( this ).siblings( "a" ).each( function() {
					var link = $( this );

					link.click( function() {
						show_only_this( link, ul );
					});

					if( !$( ul ).find( "a.current" ).length )
						ul.hide();
						
					link.append( " ▾" )
				});
			});

			$( ".c_formtable ul" ).each( function() {
				if( $( this ).find( "input[type=checkbox]" ).length > 0 ) {
					$( this ).css( "list-style", "none" );
				}
			});

			if( $(".layout-header").css( "font-size" ) == "24px" ) {
				$('html, body').animate({
					scrollTop: $(".layout-content").offset().top
				}, 500);

			}

		});


	</script>
</body>
</html>