{% load comments %}
{% load extra_comment_filters %}

<table class="table table-striped table-light c_formtable c_commentform">
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
	<tr>
		<th>Kommentar</th>
		<td>{{ form.comment }}</td>
	</tr>
    {{ form.honeypot.as_hidden }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <!-- <input type="hidden" name="next" value="{% url object|to_class_name object.id %}" /> -->
	<tr>
		<td colspan="2">
			<input class="btn btn-primary btn-block btn-lg" type="submit" value="Skicka in" id="id_submit" />
		</td>
	</tr>
    </form>
</table>