{% load comments %}

<table id="comments" class="table table-striped table-light c_formtable c_comments">
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
	<tr>
		<th>{{ comment.user_name }}<br />{{ comment.submit_date }}</th>
		<td>{{ comment.comment|linebreaks }}</td>
	</tr>
{% endfor %}
</table>