<div id="custom_image_field">
	{% if widget.is_initial %}
		<img src="{{ widget.value.url }}">
	{% endif %}	

	<div class="file">
		<label class="browse_label" for="{{ widget.name }}">
		{% if widget.is_initial %}
			Byt bild
		{% else %}	
			Ny bild
		{% endif %}	
		</label>
		<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
	</div>

	<div class="delete">
	{% if widget.is_initial and not widget.required%}
		<label class="checkbox_label" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
		<input id="imagefield_checkbox" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
	{% endif %}	
	</div>

</div>