<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Simple Transactional Email</title>
	</head>
	<body style="background-color: #f6f6f6;font-family: sans-serif;-webkit-font-smoothing: antialiased;font-size: 14px;line-height: 1.4;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
		<span class="preheader" style="color: transparent;display: none;height: 0;max-height: 0;max-width: 0;opacity: 0;overflow: hidden;mso-hide: all;visibility: hidden;width: 0;">Utskick från LSBFGT</span>
		<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background-color: #f6f6f6;">
			<tr>
				<td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">&nbsp;</td>
				<td class="container" style="font-family: sans-serif;font-size: 14px;vertical-align: top;display: block;max-width: 580px;padding: 10px;width: 580px;margin: 0 auto !important;">
					<div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 580px;padding: 10px;">
						<!-- START CENTERED WHITE CONTAINER -->
						<table role="presentation" class="main" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background: #ffffff;border-radius: 3px;">
							<!-- START MAIN CONTENT AREA -->
							<tr>
								<td class="wrapper" style="font-family: sans-serif;font-size: 14px;vertical-align: top;box-sizing: border-box;padding: 20px;">
									<table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
										<tr>
											<td class="header" style="font-family: sans-serif;font-size: 14px;vertical-align: top;background-color: #3276b1;padding: 10px;">
												<h1 style="color: #000000;font-weight: 300;line-height: 1.4;margin: 0;margin-bottom: 5px;font-size: 35px;text-align: center;text-transform: capitalize;border-radius: 0.2em;padding: 16px 30px 8px 30px;width: 7em;background: #333C44;text-shadow: 1px 1px 1px #34495e;order: 1;margin-right: 0.5em;font-family: 'arial', sans-serif !important;">
													<a href="#" style="color: #ffffff !important;text-decoration: none;font-size: 1.2em;&quot;
														display: block;line-height: 0.2;font-family:'Arial', verdana, sans-serif !important;font-weight: 700 !important; color:white !important;"><font color="#ffffff"><span style='text-decoration:none;text-underline:none'>LSBFGTMP</span></font></a>
												</h1>
												<p style="font-size: 14px;font-weight: normal;margin: 0.5em 0 0 0.5em;margin-bottom: 15px;line-height: 160%;order: 2;color: white;font-family: 'arial', sans-serif !important;">Luleå Super Best Friends Game Tournament Mainframe Program</p>
											</td>
										</tr>
										<tr style="padding-top: 20px">
											<td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
												<p style="font-size: 18px;font-weight: normal;margin: 0;margin-bottom: 15px;margin-top:30px;line-height: 160%;font-family: 'arial', sans-serif !important; text-decoration:none;">{{ pre_buttons_message|linebreaks }}</p>
											</td>
										</tr>
{% if event %}
										<tr>
											<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;">
												<table class="table table-striped" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;margin-bottom: 1rem;color: #212529;box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1.6px 0px;margin-top: 30px;">
													<tbody>
														<tr style="background-color:#f0f0f1">
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Eventnamn</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">{{ event.name }}</td>
														</tr>
														<tr>
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Anordnare</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">{{ event.added_by }}</td>
														</tr>
														<tr style="background-color:#f0f0f1">
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Tid</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">{{ event.date }}{% if event.date_preliminary %} (Preliminärt) {% endif %}</td>
														</tr>
														<tr>
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Plats</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">{{ event.location }}
																{% if event.location_href %}
																<a target="_blank" href="{{ event.location_href }}" style="color: #3498db;text-decoration: underline;">(Länk)</a>
																{% endif %}
															</td>
														</tr>
														<tr style="background-color:#f0f0f1">
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Typ</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">{{ event.get_type_display  }}</td>
														</tr>
														<tr>
															<th align="center" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: right;width: 100px;border-right: 0.4em solid #3276B1;">Spel</th>
															<td style="font-family: sans-serif;font-size: 16px;vertical-align: top;padding: 0.75rem;border-top: 1px solid #dee2e6;">
																{% for game in event.games.all %}
																&bull; {{ game }}<br>
																{% endfor %}
																{% if event.games.count == 0 %}
																	(inga spel bestämda än)
																{% endif %}
																<p style="font-size: 18px;font-weight: normal;margin: 0;margin-bottom: 15px;margin-top:15px;line-height: 160%;font-family: 'arial', sans-serif !important;">Spel kan tillkomma eller försvinna!
																</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
{% endif %}

{% if buttons %}
	{% for link,text in buttons.items %}
										<tr>
											<td align="center" style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
												<a href="{{ link }}" class="btn2" target="_blank" style="color: rgb(255, 255, 255);text-decoration: underline;background-image: none;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;display: block;font-family: &quot;arial&quot;, verdana;font-size: 18px;margin-bottom: 9px;margin-left: 9px;margin-right: 9px;margin-top: 9px;padding-bottom: 10px;padding-left: 0px;padding-right: 0px;padding-top: 10px;text-align: center;text-decoration-color: rgb(255, 255, 255);text-decoration-line: none;text-decoration-style: solid;text-decoration-thickness: auto;user-select: none;vertical-align: middle;white-space: nowrap;width: 275.217px;background-color: #3276b1 !important;">{{ text }}</a>
											</td>
										</tr>
	{% endfor %}
{% endif %}

{% if post_buttons_message %}
										<tr>
											<td align="left" style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
												<p style="font-size: 18px;font-weight: normal;margin: 0;margin-bottom: 15px;margin-top:30px;line-height: 160%;font-family: 'arial', sans-serif !important;">{{ post_buttons_message|linebreaks }}</p>
											</td>
										</tr>
{% endif %}
									</table>
								</td>
							</tr>
							<!-- END MAIN CONTENT AREA -->
						</table>
						<!-- END CENTERED WHITE CONTAINER -->
						<!-- START FOOTER -->
						<div class="footer" style="clear: both;margin-top: 10px;text-align: center;width: 100%;">
							<table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
								<tr>
									<td class="content-block" style="font-family: sans-serif;font-size: 12px;vertical-align: top;padding-bottom: 10px;padding-top: 10px;color: #999999;text-align: center;">
										<span class="apple-link" style="color: #999999;font-size: 12px;text-align: center;">Luleå Super Best Friends Game Tourmanent Mainframe Program</span>
										<br>Vill du inte ha dessa mail? Ställ in i profilen då!!.
									</td>
								</tr>
							</table>
						</div>
						<!-- END FOOTER -->
					</div>
				</td>
				<td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
